<header class="jui-header" role="banner">

  <div class="jui-width-container">

    <div class="govuk-grid-row">
  <div class="govuk-grid-column-full">


    <div class="jui-header__service">
      <a href="/index">Service name</a>
    </div>

    <div class="jui-header__account">

      <nav class="jui-primary-nav" aria-label="Global navigation">
        <ul class="jui-primary-nav__list">
          <li class="jui-primary-nav__item"><a class="jui-primary-nav__link" href="">James Barrett</a></li>
          <li class="jui-primary-nav__item"><a class="jui-primary-nav__link" href="/signout">Signout</a></li>
        </ul>
      </nav>

    </div>

      </div>
    </div>

  </div>


</header>
