


<h2 class="govuk-body govuk-!-font-size-24 govuk-!-font-weight-bold govuk-!-margin-top-9">Existing details</h2>


<dl class="govuk-check-your-answers govuk-check-your-answers--short">

        <div class="govuk-check-your-answers__contents">
            <dt class="govuk-check-your-answers__question">
                Code
            </dt>
            <dd class="govuk-check-your-answers__answer">
                FEE0522
            </dd>
        </div>


        <div class="govuk-check-your-answers__contents">
            <dt class="govuk-check-your-answers__question">
                Service
            </dt>
            <dd class="govuk-check-your-answers__answer">
                civil money claims
            </dd>
        </div>

        <div class="govuk-check-your-answers__contents">
            <dt class="govuk-check-your-answers__question">
                Event
            </dt>
            <dd class="govuk-check-your-answers__answer">
                issue
            </dd>
        </div>


        <div class="govuk-check-your-answers__contents">
            <dt class="govuk-check-your-answers__question">
                Description
            </dt>
            <dd class="govuk-check-your-answers__answer">
                General Application - By consent
            </dd>
        </div>


        <div class="govuk-check-your-answers__contents">
            <dt class="govuk-check-your-answers__question">
                Jurisdiction 1
            </dt>
            <dd class="govuk-check-your-answers__answer">
                civil
            </dd>
        </div>

        <div class="govuk-check-your-answers__contents">
            <dt class="govuk-check-your-answers__question">
                Jurisdiction 2
            </dt>
            <dd class="govuk-check-your-answers__answer">
                civil
            </dd>
        </div>



        <!-- AMOUTNS OF MONEY -->
        <div class="govuk-check-your-answers__contents">
            <dt class="govuk-check-your-answers__question">
                Fee type
            </dt>
            <dd class="govuk-check-your-answers__answer">
                Fixed
            </dd>
        </div>

        <div class="govuk-check-your-answers__contents">
            <dt class="govuk-check-your-answers__question">
                Amount type
            </dt>
            <dd class="govuk-check-your-answers__answer">
                Flat
            </dd>
        </div>

        <div class="govuk-check-your-answers__contents">
            <dt class="govuk-check-your-answers__question">
                Percentage
            </dt>
            <dd class="govuk-check-your-answers__answer">

            </dd>
        </div>

        <div class="govuk-check-your-answers__contents">
            <dt class="govuk-check-your-answers__question">
                Range from
            </dt>
            <dd class="govuk-check-your-answers__answer">

            </dd>
        </div>

        <div class="govuk-check-your-answers__contents">
            <dt class="govuk-check-your-answers__question">
                Range to
            </dt>
            <dd class="govuk-check-your-answers__answer">

            </dd>
        </div>


        <div class="govuk-check-your-answers__contents">
            <dt class="govuk-check-your-answers__question">
                Range units
            </dt>
            <dd class="govuk-check-your-answers__answer">

            </dd>
        </div>







    <!--   DATES -->
        <div class="govuk-check-your-answers__contents">
            <dt class="govuk-check-your-answers__question">
                Valid to
            </dt>
            <dd class="govuk-check-your-answers__answer">

            </dd>
        </div>

        <div class="govuk-check-your-answers__contents">
            <dt class="govuk-check-your-answers__question">
                Natural account code
            </dt>
            <dd class="govuk-check-your-answers__answer">
                4481102167
            </dd>
            <dd class="govuk-check-your-answers__change">
                <a href="#">
                    <span class="visually-hidden"></span>
                </a>
            </dd>
        </div>

        <div class="govuk-check-your-answers__contents">
            <dt class="govuk-check-your-answers__question">
                Memo
            </dt>
            <dd class="govuk-check-your-answers__answer">
                RECEIPT OF FEES - Civil issue money
            </dd>
        </div>

        <div class="govuk-check-your-answers__contents">
            <dt class="govuk-check-your-answers__question">
                Direction
            </dt>
            <dd class="govuk-check-your-answers__answer">
                enhanced
            </dd>
        </div>

        <div class="govuk-check-your-answers__contents">
            <dt class="govuk-check-your-answers__question">
                Applicant type
            </dt>
            <dd class="govuk-check-your-answers__answer">
                all
            </dd>
        </div>


        <div class="govuk-check-your-answers__contents">
            <dt class="govuk-check-your-answers__question">
                Keyword
            </dt>
            <dd class="govuk-check-your-answers__answer">

            </dd>
        </div>


        <div class="govuk-check-your-answers__contents">
            <dt class="govuk-check-your-answers__question">
                Channel
            </dt>
            <dd class="govuk-check-your-answers__answer">
                default
            </dd>
        </div>

</dl>