


<h2 class="govuk-body govuk-!-font-size-24 govuk-!-font-weight-bold govuk-!-margin-top-5">Updated details</h2>


<dl class="govuk-check-your-answers govuk-check-your-answers--short">

        <div class="govuk-check-your-answers__contents">
            <dt class="govuk-check-your-answers__question">
                Reason for new version
            </dt>
            <dd class="govuk-check-your-answers__answer">
                Fee increased with inflation.
            </dd>
            <dd class="govuk-check-your-answers__change"  style="width: 250px; padding-left: 15px; text-align: left">

            </dd>
        </div>


        <div class="govuk-check-your-answers__contents">
            <dt class="govuk-check-your-answers__question">
                Version
            </dt>
            <dd class="govuk-check-your-answers__answer">
                2
            </dd>
            <dd class="govuk-check-your-answers__change"  style="width: 250px; padding-left: 15px; text-align: left">
                Previously: 1
            </dd>
        </div>


        <div class="govuk-check-your-answers__contents">
            <dt class="govuk-check-your-answers__question">
                Amount
            </dt>
            <dd class="govuk-check-your-answers__answer">
                £110.00
            </dd>
            <dd class="govuk-check-your-answers__change"  style="width: 250px; padding-left: 15px; text-align: left">
                Previously: £100.00
            </dd>
        </div>


        <div class="govuk-check-your-answers__contents">
            <dt class="govuk-check-your-answers__question">
                SI REF ID
            </dt>
            <dd class="govuk-check-your-answers__answer">
                2.5
            </dd>
            <dd class="govuk-check-your-answers__change"  style="width: 250px; padding-left: 15px; text-align: left">
                Previously: 2.2
            </dd>
        </div>


        <div class="govuk-check-your-answers__contents">
            <dt class="govuk-check-your-answers__question">
                Statutory Instrument
            </dt>
            <dd class="govuk-check-your-answers__answer">
                2021 No 587
            </dd>
            <dd class="govuk-check-your-answers__change"  style="width: 250px; padding-left: 15px; text-align: left">
                Previously: 2016 No 402
            </dd>
        </div>

        <div class="govuk-check-your-answers__contents">
            <dt class="govuk-check-your-answers__question">
                Fee Order Name
            </dt>
            <dd class="govuk-check-your-answers__answer">
                The Civil Proceedings, Family Proceedings and Upper Tribunal Fees (Amendment) Order 2021
            </dd>
            <dd class="govuk-check-your-answers__change"  style="width: 250px; padding-left: 15px; text-align: left">
                Previously: The Civil Proceedings, Family Proceedings and Upper Tribunal Fees (Amendment) Order 2016
            </dd>
        </div>

    <!--   DATES -->
        <div class="govuk-check-your-answers__contents">
            <dt class="govuk-check-your-answers__question">
                Valid from
            </dt>
            <dd class="govuk-check-your-answers__answer">
                1 September 2021
            </dd>
            <dd class="govuk-check-your-answers__change"  style="width: 250px; padding-left: 15px; text-align: left">
                Previously: 21 March 2016
            </dd>
        </div>


        <div class="govuk-check-your-answers__contents">
            <dt class="govuk-check-your-answers__question">
                Status
            </dt>
            <dd class="govuk-check-your-answers__answer">
                Draft
            </dd>
            <dd class="govuk-check-your-answers__change"  style="width: 250px; padding-left: 15px; text-align: left">
                Previously: Approved
            </dd>
        </div>

        <div class="govuk-check-your-answers__contents">
            <dt class="govuk-check-your-answers__question">
                Editor
            </dt>
            <dd class="govuk-check-your-answers__answer">
                338765
            </dd>
            <dd class="govuk-check-your-answers__change"  style="width: 250px; padding-left: 15px; text-align: left">

            </dd>
        </div>

        {% if  data['draft'] != 'true' %}
            <div class="govuk-check-your-answers__contents">
                <dt class="govuk-check-your-answers__question">
                    Approver
                </dt>
                <dd class="govuk-check-your-answers__answer">
                    338462
                </dd>
                <dd class="govuk-check-your-answers__change"  style="width: 250px; padding-left: 15px; text-align: left">

                </dd>
            </div>
        {% endif %}

</dl>