


<h2 class="govuk-body govuk-!-font-size-24 govuk-!-font-weight-bold govuk-!-margin-top-5">Updated details</h2>


<dl class="govuk-check-your-answers govuk-check-your-answers--short">

        <div class="govuk-check-your-answers__contents">
            <dt class="govuk-check-your-answers__question">
                Reason for new version
            </dt>
            <dd class="govuk-check-your-answers__answer">
                Fee increased with inflation.
            </dd>
            <dd class="govuk-check-your-answers__change"  style="width: 250px; padding-left: 15px; text-align: left">

            </dd>
        </div>


        <div class="govuk-check-your-answers__contents">
            <dt class="govuk-check-your-answers__question">
                Version
            </dt>
            <dd class="govuk-check-your-answers__answer">
                2
            </dd>
            <dd class="govuk-check-your-answers__change"  style="width: 250px; padding-left: 15px; text-align: left">
                Previously: 1
            </dd>
        </div>


        <div class="govuk-check-your-answers__contents">
            <dt class="govuk-check-your-answers__question">
                Amount
            </dt>
            <dd class="govuk-check-your-answers__answer">
                £36.50
            </dd>
            <dd class="govuk-check-your-answers__change"  style="width: 250px; padding-left: 15px; text-align: left">
                Previously: £35.00
            </dd>
        </div>


        <div class="govuk-check-your-answers__contents">
            <dt class="govuk-check-your-answers__question">
                SI Ref ID
            </dt>
            <dd class="govuk-check-your-answers__answer">
                1.9
            </dd>
            <dd class="govuk-check-your-answers__change"  style="width: 250px; padding-left: 15px; text-align: left">
                Previously: 1.7
            </dd>
        </div>


        <div class="govuk-check-your-answers__contents">
            <dt class="govuk-check-your-answers__question">
                Statutory Instrument
            </dt>
            <dd class="govuk-check-your-answers__answer">
                2021 No 587
            </dd>
            <dd class="govuk-check-your-answers__change"  style="width: 250px; padding-left: 15px; text-align: left">
                Previously: 2016 No 551
            </dd>
        </div>

        <div class="govuk-check-your-answers__contents">
            <dt class="govuk-check-your-answers__question">
                Fee Order Name
            </dt>
            <dd class="govuk-check-your-answers__answer">
                Civil Proceedings 2021
            </dd>
            <dd class="govuk-check-your-answers__change"  style="width: 250px; padding-left: 15px; text-align: left">
                Previously: Civil Proceedings
            </dd>
        </div>

    <!--   DATES -->
        <div class="govuk-check-your-answers__contents">
            <dt class="govuk-check-your-answers__question">
                Valid from
            </dt>
            <dd class="govuk-check-your-answers__answer">
                {% if  data['rejectionscenario'] == 'true'  %}
                    1 October 2021
                {% else  %}
                    1 September 2021
                {% endif %}
            </dd>
            <dd class="govuk-check-your-answers__change"  style="width: 250px; padding-left: 15px; text-align: left">
                Previously: 14 June 2020
            </dd>
        </div>


        <div class="govuk-check-your-answers__contents">
            <dt class="govuk-check-your-answers__question">
                Status
            </dt>
            <dd class="govuk-check-your-answers__answer">
                Draft
            </dd>
            <dd class="govuk-check-your-answers__change"  style="width: 250px; padding-left: 15px; text-align: left">
                Previously: Approved
            </dd>
        </div>

        <div class="govuk-check-your-answers__contents">
            <dt class="govuk-check-your-answers__question">
                Editor
            </dt>
            <dd class="govuk-check-your-answers__answer">
                338765
            </dd>
            <dd class="govuk-check-your-answers__change"  style="width: 250px; padding-left: 15px; text-align: left">

            </dd>
        </div>

</dl>