// Path to assets for use with the file-url function
// in the govuk frontend toolkit"s url-helpers partial
$path: "/public/images/";

$govuk-global-styles: true;

// Import GOV.UK Frontend
@import "govuk-frontend/all";

// Patterns that aren"t in GOV.UK Frontend
@import "patterns/check-your-answers";
@import "patterns/related-items";

// JUI styles
@import "jui/all";

.submenu{
  background: 	#005ea5;
  height: 10px;
  width: 100%;
}


html {
  background-color: govuk-colour("grey-3");
}

.js-enabled .js-hidden {
  display: none !important;
}

mark.comment {
  background-color: govuk-colour(orange);
}

.medium-toolbar-arrow-under:after {
  border-color: #2f1e07 transparent transparent;
}

.medium-toolbar-arrow-over:before {
  border-color: transparent transparent #2f1e07 ;
}

// Search search-square

.search-square{
  background: #005ea5;
  padding: 5px 10px 10px 10px;
  width:20px;
	height:20px;


}


/* Style buttons */
.btn {
    background-color: DodgerBlue; /* Blue background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 12px 16px; /* Some padding */
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
}

/* Darker background on mouse-over */
.btn:hover {
    background-color: RoyalBlue;
}



// Home office kit-icons

.side-space {
           margin-right: .5em;
         }
         .icon-medium {
           font-size: 24px;
           &:before {
             vertical-align: bottom;
             padding-bottom: 1em;
           }
         }
         .icon-small {
           font-size: 18px;
           &:before {
             vertical-align: middle;
             padding-bottom: 1em;
           }
         }

        .icon-medium-white {
          font-size: 24px;
          color: #fff;
          &:before {
          vertical-align: bottom;
          padding-bottom: 1em;
            }
          }
                  .icon-small-white {
                    font-size: 18px;
                    color: #fff;
                    &:before {
                      vertical-align: middle;
                      padding-bottom: 1em;
                    }
                  }


      .govuk-search-input {
          font-family: "nta", Arial, sans-serif;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          font-weight: 400;
          font-size: 16px;
          line-height: 20px;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          width: 100%;
          height: 40px;
          margin-top: 0;
          padding: 5px;
          border: 2px solid #0b0c0c;
          border-radius: 0;
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
      }

// Search bar

      * {
        box-sizing: border-box;
      }

      /* Style the search field */
      form.example input[type=text] {
        padding: 10px;
        font-size: 17px;
        border: 1px solid grey;
        float: left;
        width: 80%;
        background: #f1f1f1;
      }

      /* Style the submit button */
      form.example button {
        float: left;
        width: 20%;
        padding: 10px;
        background: #2b8cc4;
        color: white;
        font-size: 17px;
        border: 1px solid #2b8cc4;
        border-left: none; /* Prevent double borders */
        cursor: pointer;
      }

      form.example button:hover {
        background: #3699d3;
        border: 1px solid #2b8cc4;
      }

      /* Clear floats */
      form.example::after {
        content: "";
        clear: both;
        display: table;
      }


      .govuk-grid-column-three-quarters {
    width: 75%;
    float: left;
    }





//FEE TABLE Search

#myInput {
  font-family: "nta", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 80%;
  height: 40px;
  margin-top: 0;
  padding: 5px;
  border: 2px solid #0b0c0c;
  border-radius: 0;
  background: #fff;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}


#myTable {
    border-collapse: collapse; /* Collapse borders */
    width: 100%; /* Full-width */
    border: 1px solid #fff; /* Add a grey border */
    font-size: 16px; /* Increase font-size */
    font-family: "nta",Arial,sans-serif;

}

#myTable th, #myTable td {
    text-align: left; /* Left-align text */
    padding: 7px; /* Add padding */
}

#myTable tr {
    /* Add a bottom border to all table rows */
    border-bottom: 1px solid #ddd;
}

#myTable tr.header, #myTable tr:hover {
    /* Add a grey background color to the table header and on hover */

}

//END
