// Path to assets for use with the file-url function
// in the govuk frontend toolkit"s url-helpers partial
$path: "/public/images/";

$govuk-global-styles: true;

// Import GOV.UK Frontend
@import "govuk-frontend/all";

// Import HMCTS Frontend
@import "node_modules/@hmcts/frontend/all";

// Patterns that aren"t in GOV.UK Frontend
@import "patterns/check-your-answers";
@import "patterns/related-items";
@import 'patterns/currency-input';

// JUI styles
@import "jui/all";

.govuk-grid-column-three-quarters {
  float: left;
  width: 100%;

  @media screen and (min-width: 650px) {
    width: 75%;
  }
}

.submenu{
  background: 	#005ea5;
  height: 10px;
  width: 100%;
}


html {
  background-color: govuk-colour("grey-3");
}

.js-enabled .js-hidden {
  display: none !important;
}

mark.comment {
  background-color: govuk-colour(orange);
}

.medium-toolbar-arrow-under:after {
  border-color: #2f1e07 transparent transparent;
}

.medium-toolbar-arrow-over:before {
  border-color: transparent transparent #2f1e07 ;
}

// Search search-square

.search-square{
  background: #005ea5;
  padding: 5px 10px 10px 10px;
  width:20px;
	height:20px;


}


/* Style buttons */
.btn {
    background-color: DodgerBlue; /* Blue background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 12px 16px; /* Some padding */
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
}

/* Darker background on mouse-over */
.btn:hover {
    background-color: RoyalBlue;
}



// Home office kit-icons

.side-space {
           margin-right: .5em;
         }
         .icon-medium {
           font-size: 24px;
           &:before {
             vertical-align: bottom;
             padding-bottom: 1em;
           }
         }
         .icon-small {
           font-size: 18px;
           &:before {
             vertical-align: middle;
             padding-bottom: 1em;
           }
         }

        .icon-medium-white {
          font-size: 24px;
          color: #fff;
          &:before {
          vertical-align: bottom;
          padding-bottom: 1em;
            }
          }
                  .icon-small-white {
                    font-size: 18px;
                    color: #fff;
                    &:before {
                      vertical-align: middle;
                      padding-bottom: 1em;
                    }
                  }


      .govuk-search-input {
          font-family: "nta", Arial, sans-serif;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          font-weight: 400;
          font-size: 16px;
          line-height: 20px;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          width: 100%;
          height: 40px;
          margin-top: 0;
          padding: 5px;
          border: 2px solid #0b0c0c;
          border-radius: 0;
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
      }

      .font-12{
        font-size: 12px;
        line-height: 20px;
      }

// Search bar

      * {
        box-sizing: border-box;
      }

      /* Style the search field */
      form.example input[type=text] {
        padding: 10px;
        font-size: 17px;
        border: 1px solid grey;
        float: left;
        width: 80%;
        background: #f1f1f1;
      }

      /* Style the submit button */
      form.example button {
        float: left;
        width: 20%;
        padding: 10px;
        background: #00823b;
        height: 39px;
        color: white;
        font-size: 17px;

        border-left: none; /* Prevent double borders */
        cursor: pointer;
      }

      form.example button:hover {
        background: #006435;
      }

      /* Clear floats */
      form.example::after {
        content: "";
        clear: both;
        display: table;
      }








//FEE TABLE Search

// #myInput {
//   font-family: "nta", Arial, sans-serif;
//   -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale;
//   font-weight: 400;
//   font-size: 16px;
//   line-height: 20px;
//   -webkit-box-sizing: border-box;
//   box-sizing: border-box;
//   width: 80%;
//   height: 40px;
//   margin-top: 0;
//   padding: 5px;
//   border: 2px solid #0b0c0c;
//   border-radius: 0;
//   background: #fff;
//   -webkit-appearance: none;
//   -moz-appearance: none;
//   appearance: none;
// }


#myTable {
    border-collapse: collapse; /* Collapse borders */
    width: 100%; /* Full-width */
    border: 1px solid #fff; /* Add a grey border */
    font-size: 16px; /* Increase font-size */
    font-family: "nta",Arial,sans-serif;
    float: right;

}

#myTable th, #myTable td {
    text-align: left; /* Left-align text */
    padding: 7px; /* Add padding */
}

#myTable tr {
    /* Add a bottom border to all table rows */
    border-bottom: 1px solid #ddd;
}

#myTable tr.header, #myTable tr:hover {
    /* Add a grey background color to the table header and on hover */

}

//END


//DRAFT FEE SUMBISSION

/* The alert message box */
.delete-alert {
    padding: 20px;
    background-color: #fceaeb;
    border-left: 10px solid #df3034;
    margin-bottom: 15px;
    font-family: nta, Arial, sans-serif;
    font-size: 19px;
}

.submit-alert {
    padding: 20px;
    background-color: #eaf6f5;
    border-left: 10px solid #28a197;
    margin-bottom: 15px;
    font-family: nta, Arial, sans-serif;
    font-size: 19px;
}

/* The close button */
.closebtn {
    margin-left: 15px;
    float: right;
    text-decoration: underline;
    color: #005ea5;
    font-size: 19px;
    font-family: nta, Arial, sans-serif;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
    color: #2b8cc4;
}

//END

//2ND button

.govuk-button2 {
    font-family: "nta", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 19px;
    line-height: 19px;
    text-decoration: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    width: 80px;
    height: 38px;
    margin-top: 0;
    margin-bottom: 22px;
    padding: 10px 10px;
    border: 2px solid transparent;
    border-radius: 0;
    color: 000;
    background-color:  #dbdad9;
    -webkit-box-shadow: 0 2px 0 #003618;
    box-shadow: 0 2px 0 #003618;
    text-align: center;
    vertical-align: top;
    cursor: pointer;
    -webkit-appearance: none;
}

.govuk-button2:hover {
  background-color: #bfc1c3;
}


.black-text {
  color: black;
}

// RESPONSIVE table

body {
  line-height: 1.25;
}

table {
  border-bottom: 1px solid #fff;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;

  table-layout: fixed;
}

table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}

table tr {
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  padding: .35em;
}

table th,
table td {
  padding: .625em 0;
  text-align: left;

}

table th {

}

@media screen and (max-width: 650px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }

  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;

  }

  table tr {
    border-bottom: 5px solid #ddd;
    display: block;
    margin-bottom: .625em;

  }

  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }

  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
  }

  table td:last-child {
    border-bottom: 0;
  }
}



.search-button-float {
  padding-top: 0px;

  @media screen and (min-width: 650px) {
    padding-top: 40px;

  }
}

.linked-payment-ref {
  padding-left: 0px;

  @media screen and (min-width: 650px) {
    padding-left: 7px;

  }
}
.hmcts-primary-navigation__item-position {
  float: right;
}
.second-nav {
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  &__menu {
    margin: auto;
    height: auto;
    max-width: 1024px;
    width: 100%;
  }
}
.hidden {
 display: none;
}
.show {
  display: block;
}
.nav-links {
  position: relative;
  top: 0;
}
.second-nav.blue {
  background: #005ea5;
}
.advanced-search-block {
  background: #005ea5;
  color: #fff;
  label {
    color: #fff;
  }
}
.second-nav__menu {
  ul li:first-of-type {
    padding-left: 5px;
  }
  ul li {
    display: inline-block;
    padding: 0 5px;
    width: 30%;
  }
}
.row-no-border {
  border-bottom: 0px;
}

.reset-button-float {
    bottom: 10px;
    position: relative;
}

.govuk-link--nounderline{
  text-decoration: none;
}

.govuk-main-wrapper--maxhight {
    min-height: 500px;
}
