{% extends "layouts/admin/base.html" %}

{% set casenavId = "casefile" %}

{% block page_title %}Casefile - Judicial UI prototype{% endblock %}

{% block content %}

  {% include "includes/casebar.html" %}

  <div class="jui-width-container">

    <main class="govuk-main-wrapper" role="main">

      {% include "includes/secondary-nav.html" %}

      <h1 class="govuk-heading-l">Case file</h1>

      <div class="jui-casefile govuk-!-margin-bottom-6">

        <div class="jui-casefile-files">
          <ul class="jui-casefile-list">
            {% for document in documents %}
              <li class="jui-casefile-list__item">
                <a class="jui-casefile-list__link" href="/app/cases/{{casenav.id}}/documents/{{document.id}}" {{ 'aria-current=true' if activeDocument == document.id}}>{{document.label}}</a>
              </li>
            {% endfor %}
          </ul>
        </div>
        <div class="jui-casefile-document-wrapper">
          <div class="jui-casefile-page editable">
            {% block file_content %}{% endblock %}
          </div>
        </div>
      </div>
    </main>
  </div>

{% endblock %}

{% block page_scripts %}
<script>
  rangy.init();
  var highlighter = rangy.createHighlighter();
  var CommentButton = MediumEditor.Extension.extend({
    name: 'comment',
    init: function () {

      highlighter.addClassApplier(rangy.createClassApplier("comment", {
        ignoreWhiteSpace: true,
        elementTagName: "mark",
        elementProperties: {
          onclick: function(e) {
            var highlight = highlighter.getHighlightForElement(this);
            if (window.confirm("Delete this note (ID " + highlight.id + ")?")) {
              highlighter.removeHighlights( [highlight] );
            }
          }
        }
      }));

      // this.classApplier = rangy.createClassApplier('comment', {
      //   elementTagName: 'mark',
      //   normalize: true
      // });

      this.button = this.document.createElement('button');
      this.button.classList.add('medium-editor-action');
      this.button.innerHTML = 'Comment';
      this.on(this.button, 'click', this.handleClick.bind(this));
    },

    getButton: function () {
      return this.button;
    },

    handleClick: function (e) {

      var sel = rangy.getSelection();
      if(sel.focusNode.parentNode.classList.contains('comment')) {
        var highlight = highlighter.getHighlightForElement(sel.focusNode.parentNode);
        highlighter.removeHighlights( [highlight] );
      } else {
        highlighter.highlightSelection('comment');
        var dialog = window.prompt('What’s your comment?');
      }

      // Ensure the editor knows about an html change so watchers are notified
      // ie: <textarea> elements depend on the editableInput event to stay synchronized
      this.base.checkContentChanged();

      // var sel = rangy.getSelection();
      // console.log(sel);
    }
  });



  var HighlightButton = MediumEditor.Extension.extend({
    name: 'highlight',
    init: function () {
      this.classApplier = rangy.createClassApplier('highlight', {
        elementTagName: 'mark',
        normalize: true
      });

      this.button = this.document.createElement('button');
      this.button.classList.add('medium-editor-action');
      this.button.innerHTML = 'Highlight';
      this.on(this.button, 'click', this.handleClick.bind(this));
    },

    getButton: function () {
      return this.button;
    },

    handleClick: function (event) {
      this.classApplier.toggleSelection();

      // Ensure the editor knows about an html change so watchers are notified
      // ie: <textarea> elements depend on the editableInput event to stay synchronized
      this.base.checkContentChanged();
    }
  });

  var editor = new MediumEditor('.editable', {
    disableEditing: true,
    buttonLabels: true,
    toolbar: {
      buttons: ['highlight', 'comment']
    },
    extensions: {
      'highlight': new HighlightButton(),
      'comment': new CommentButton()
    }
  });
</script>
{% endblock %}