{% extends "layouts/admin/newlayout.html" %}

{% block pageTitle %}
  All fees
{% endblock %}

{% block content %}






  <div class="hmcts-header__container">

      <main role="main" class="govuk-main-wrapper govuk-!-padding-top-0" >


          <div class="govuk-grid-row">
              <div class="govuk-grid-column-full">



                  <ul class="govuk-tabs__list govuk-!-margin-top-7">
                      <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                          <a class="govuk-tabs__tab" href="/all-fees" style="text-decoration: underline;">
                              Live fees
                          </a>
                      </li>
                      <li class="govuk-tabs__list-item">
                          <a class="govuk-tabs__tab" href="/all-approvedbutnotlive"
                             style=" border: 1px solid #b1b4b6;
                               border-bottom: 0;
                               margin-bottom: -1px;
                               background-color: #fff;">
                              Approved but not live
                          </a>
                      </li>
                      <li class="govuk-tabs__list-item">
                          <a class="govuk-tabs__tab" href="#" style="text-decoration: underline;">
                              Discontinued fees
                          </a>
                      </li>
                      <li class="govuk-tabs__list-item">
                          <a class="govuk-tabs__tab" href="#" style="text-decoration: underline;">
                              Live and discontinued fees
                          </a>
                      </li>
                  </ul>





                  <div style="display: flex;">

                      <h1 class="govuk-heading-xl govuk-!-margin-top-7 govuk-!-margin-bottom-6">Approved but not live fees</h1>

                      <div style="display: flex; flex-grow: 1;"></div>

                      <!-- <p class="govuk-!-margin-top-6 govuk-!-margin-bottom-0">Updated: 12 February 2021 </p>  -->

                  </div>

                <!-- SEARCH  -->
                <!-- no dev effort to make this
                <div class="" >
                  <label class="govuk-label" for="email">
                    Enter a decription or fee code
                  </label>

                  <div style="display: inline">
                      <input type="text" class="govuk-input govuk-!-width-one-third" id="myInput" placeholder="" >
                      <button type="button" class="govuk-button" onclick="myFunction()">Search</button>
                  </div>
                </div>
                -->

                  <!-- <form class="govuk-form-group">
                    <span id="nationality-hint" class="govuk-hint">
                      Enter a decription or fee code
                    </span>

                    <div>
                      <div style="display: inline-block; width: 75%;">
                        <input type="text" class="govuk-input" id="myInput" placeholder="" style="width: 100%;">
                      </div>
                      <div style="display: inline-block; width: 20%;">
                        <button type="button" class="govuk-button" onclick="myFunction()" style="margin: 0; width: 100%;">Search</button>
                      </div>
                    </div>


                  </form> -->



                <!-- FILTER  -->
                <!-- no dev effort to make this
                <h2 class="govuk-heading-m">Filter by</h2>

                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset">
                          <!-- <label class="govuk-label" for="sort">
                            <b>View fees</b>
                          </label>--><!--
                          <div class="govuk-radios govuk-radios--inline">
                            <div class="govuk-radios__item">
                              <input class="govuk-radios__input" id="where-do-you-live" name="where-do-you-live" type="radio" data-rel="Amount type" value="All">
                              <label class="govuk-label govuk-radios__label" for="where-do-you-live">
                                All
                              </label>
                            </div>
                            <div class="govuk-radios__item">
                              <input class="govuk-radios__input" id="where-do-you-live-2" name="where-do-you-live" type="radio" data-rel="Amount type" value="Flat">
                              <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
                                Live
                              </label>
                            </div>
                            <div class="govuk-radios__item">
                              <input class="govuk-radios__input" id="where-do-you-live-3" name="where-do-you-live" type="radio" data-rel="Amount type" value="Volume">
                              <label class="govuk-label govuk-radios__label" for="where-do-you-live-3">
                                Discontinued
                              </label>
                            </div>
                          </div>
                    </fieldset>
                </div>
                 -->


                <!--   RESULTS  -->

          <div class=""  style="width:3800px">

            <!--   <h2 class="govuk-heading-m">Results</h2> -->

              <style>
                  table th { padding-right:20px; }
                  table td { padding-right:20px; }
              </style>


            <!-- <p id="numberOfRows">15 fees</p>  -->
            <table class="govuk-body" id="testtable">
              <thead class="font-14">
                <tr class="govuk-table__row">

                  <th class="govuk-table__header" scope="col" >Code</th>
                  <th class="govuk-table__header" scope="col">Date approved</th>
                  <th class="govuk-table__header" scope="col">Valid From</th>
                  <th class="govuk-table__header" scope="col"  style=" width: 250px;">Description</th>
                  <th class="govuk-table__header" scope="col" >Statutory Instrument</th>
                  <th class="govuk-table__header" scope="col">SI Ref ID</th>
                  <th class="govuk-table__header" scope="col" style=" width: 250px;">Fee Order Name</th>
                  <th class="govuk-table__header" scope="col">Service</th>
                  <th class="govuk-table__header" scope="col">Jurisdiction1</th>
                  <th class="govuk-table__header" scope="col">Jurisdiction2</th>


                  <th class="govuk-table__header" scope="col" style="width:135px;">Range to</th>
                  <th class="govuk-table__header" scope="col" style="width:137px;">Unit</th>
                  <th class="govuk-table__header" scope="col">Fee type</th>
                  <th class="govuk-table__header" scope="col">Amount Type</th>


                  <th class="govuk-table__header" scope="col" style="padding-left:10px;">Amount</th>
                  <th class="govuk-table__header" scope="col">%</th>


                  <th class="govuk-table__header" scope="col">Event</th>
                  <th class="govuk-table__header" scope="col">Channel</th>
                  <th class="govuk-table__header" scope="col">Keyword</th>
                  <th class="govuk-table__header" scope="col">Applicant Type</th>
                  <th class="govuk-table__header" scope="col">Direction</th>
                  <th class="govuk-table__header" scope="col" style=" width: 210px;">Memo</th>
                  <th class="govuk-table__header" scope="col">Version</th>

                  <th class="govuk-table__header" scope="col">Valid To</th>
                  <th class="govuk-table__header" scope="col">Status</th>


                  <th class="govuk-table__header" scope="col">Natural Account Code</th>

                </tr>
              </thead>


              <tbody class="font-14">

                  {% if  data['approvedfeetesting'] == 'true' %}
                      <tr>
                          <td data-label="Code"><a href="/fee-details?draft=false&brandnewfee=false&waitingforapproval=false&feecode=FEE0429">FEE0429</a></td>
                          <td>15-04-2021</td>
                          <td>01-09-2021</td>
                          <td data-label="Type value" >General Application - By consent</td>
                          <td data-label="Service">2021 No  587 </td>
                          <td>2.5 </td>
                          <td>The Civil Proceedings, Family Proceedings and Upper Tribunal Fees (Amendment) Order 2021</td>
                          <td>judicial review </td>
                          <td>tribunal</td>
                          <td>upper tribunal immigration and asylum chamber</td>
                          <td> </td>
                          <td> </td>
                          <td>fixed </td>
                          <td>Flat </td>
                          <td>£110 </td>
                          <td></td>
                          <td>general application</td>
                          <td>default</td>
                          <td>ABC</td>
                          <td>all </td>
                          <td>enhanced</td>
                          <td>RECEIPT OF FEES - Tribunal misc JR</td>
                          <td>1 </td>
                          <td> </td>
                          <td>approved  </td>
                          <td>4481102184 </td>
                      </tr>
                  {% endif %}


                  <tr>
                    <td data-label="Code"><a href="/fee-details?draft=false&brandnewfee=true&waitingforapproval=false&feecode=FEE0545">FEE0545</a></td>
                    <td>01-04-2021</td>
                    <td>01-09-2021</td>

                    <td data-label="Type value">Appointment of a High Court judge</td>
                    <td data-label="Service">2019 No 1063</td>
                    <td>10.4</td>
                    <td>The Court Fees (Miscellaneous Amendments) Order 2019</td>
                    <td>other </td>
                    <td>civil </td>
                    <td>high court</td>
                    <td> </td>
                    <td> </td>
                    <td>fixed </td>
                    <td>Flat </td>
                    <td>£610 </td>
                    <td></td>
                    <td>issue</td>
                    <td>default</td>
                    <td> </td>
                    <td>all </td>
                    <td>cost recovery </td>
                    <td>RECEIPT OF FEES - Civil issue other  </td>
                    <td>1 </td>

                    <td> </td>
                    <td>approved  </td>
                    <td>4481102137 </td>
                </tr>


                <tr>
                    <td data-label="Code"><a href="/fee-details?draft=false&brandnewfee=true&waitingforapproval=false&feecode=FEE0522">FEE0522</a></td>
                    <td>01-04-2021</td>
                    <td>01-09-2021</td>
                    <td data-label="Type value" >Counter Claim Discounted - 300.01 up to 500 GBP</td>
                    <td data-label="Service">2015 No 576</td>
                    <td>1.7 </td>
                    <td>Civil Proceedings</td>
                    <td>civil money claims </td>
                    <td>civil </td>
                    <td>civil</td>
                    <td> </td>
                    <td>GBP </td>
                    <td>ranged</td>
                    <td>Flat </td>
                    <td>£35 </td>
                    <td></td>
                    <td>issue</td>
                    <td>default</td>
                    <td> </td>
                    <td>all </td>
                    <td>enhanced</td>
                    <td>RECEIPT OF FEES - Civil issue money</td>
                    <td>2 </td>
                    <td>22-04-2014 </td>
                    <td>approved  </td>
                    <td>4481102133</td>
                </tr>



                <tr>
                    <td data-label="Code"><a href="/fee-details?draft=false&brandnewfee=true&waitingforapproval=false&feecode=FEE0514">FEE0514</a></td>
                    <td>01-04-2021</td>
                    <td>01-09-2021</td>
                    <td data-label="Type value" >Counter Claim - 0.01 up to 300 GBP</td>
                    <td data-label="Service">2015 No 576</td>
                    <td>1.7 </td>
                    <td>Civil Proceedings</td>
                    <td>civil money claims </td>
                    <td>civil </td>
                    <td>civil</td>
                    <td> </td>
                    <td>GBP </td>
                    <td>ranged</td>
                    <td>Flat </td>
                    <td>£35 </td>
                    <td></td>
                    <td>issue</td>
                    <td>default</td>
                    <td> </td>
                    <td>all </td>
                    <td>enhanced</td>
                    <td>RECEIPT OF FEES - Civil issue money</td>
                    <td>2 </td>
                    <td> </td>
                    <td>approved  </td>
                    <td>4481102133</td>
                </tr>



                <tr>
                    <td data-label="Code"><a href="/fee-details?draft=false&brandnewfee=true&waitingforapproval=false&feecode=FEE0429">FEE0429</a></td>
                    <td>01-04-2021</td>
                    <td>01-09-2021</td>
                    <td data-label="Type value">Appraisement of goods. FEE AMOUNT = 5p in every 1GBP (or part of 1GBP) of the appraised value</td>
                    <td data-label="Service">2014 No 877 </td>
                    <td>16.2 </td>
                    <td>Family Proceedings</td>
                    <td>other</td>
                    <td>family </td>
                    <td>family court</td>
                    <td> </td>
                    <td> </td>
                    <td>rateable</td>
                    <td>Flat </td>
                    <td>£0 </td>
                    <td></td>
                    <td>enforcement</td>
                    <td>default</td>
                    <td>QRS</td>
                    <td>all </td>
                    <td>cost recovery</td>
                    <td>RECEIPT OF FEES - Family enforcement other </td>
                    <td>1 </td>
                    <td> </td>
                    <td>approved  </td>
                    <td>4481102167 </td>
                </tr>



                <tr>
                    <td data-label="Code"><a href="/fee-details?draft=false&brandnewfee=true&waitingforapproval=false&feecode=FEE0324">FEE0324</a></td>
                    <td>01-04-2021</td>
                    <td>01-09-2021</td>
                    <td data-label="Type value" >Warrant to assist person exercising powers under emergency protection order (section 48)</td>
                    <td data-label="Service">2014 No 877 </td>
                    <td>2.1p </td>
                    <td>Family Proceedings</td>
                    <td>private law</td>
                    <td>family </td>
                    <td>family court</td>
                    <td> </td>
                    <td> </td>
                    <td>fixed </td>
                    <td>Flat </td>
                    <td>£215 </td>
                    <td></td>
                    <td>miscellaneous</td>
                    <td>default</td>
                    <td>HIJ</td>
                    <td>all </td>
                    <td>cost recovery</td>
                    <td>RECEIPT OF FEES - Family misc private </td>
                    <td>1 </td>
                    <td> </td>
                    <td>approved  </td>
                    <td>4481102174</td>
                </tr>




                <tr>
                  <td data-label="Channel">.. another row</td>
                  <td data-label="Channel"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>

                <tr>
                    <td data-label="Channel">.. another row</td>
                    <td data-label="Channel"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>

                <tr>
                    <td data-label="Channel">.. another row</td>
                    <td data-label="Channel"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>

                <tr>
                    <td data-label="Channel">.. another row</td>
                    <td data-label="Channel"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>

                <tr>
                    <td data-label="Channel">.. another row</td>
                    <td data-label="Channel"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>

                <tr>
                    <td data-label="Channel">.. another row</td>
                    <td data-label="Channel"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>

                <tr>
                    <td data-label="Channel">.. another row</td>
                    <td data-label="Channel"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>

                <tr>
                    <td data-label="Channel">.. another row</td>
                    <td data-label="Channel"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>

                <tr>
                    <td data-label="Channel">.. another row</td>
                    <td data-label="Channel"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>

                <tr>
                    <td data-label="Channel">.. another row</td>
                    <td data-label="Channel"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>

                <tr>
                    <td data-label="Channel">.. another row</td>
                    <td data-label="Channel"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>

                <tr>
                    <td data-label="Channel">.. another row</td>
                    <td data-label="Channel"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>

                <tr>
                    <td data-label="Channel">.. another row</td>
                    <td data-label="Channel"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>

                <tr>
                    <td data-label="Channel">.. another row</td>
                    <td data-label="Channel"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>

                <tr>
                    <td data-label="Channel">.. another row</td>
                    <td data-label="Channel"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>

              </tbody>
            </table>

                <br>
                <br>

                <!-- <table id="myTable">
                  <tr class="header">
                    <th class="govuk-table__header" scope="col">Code</th>
                    <th class="govuk-table__header" scope="col">Description</th>
                    <th class="govuk-table__header" scope="col">Type</th>
                    <th class="govuk-table__header" scope="col">Amount type</th>
                    <th class="govuk-table__header" scope="col">Type value</th>
                    <th class="govuk-table__header" scope="col">Jurisdiction 1</th>
                    <th class="govuk-table__header" scope="col">Jurisdiction 2</th>
                    <th class="govuk-table__header" scope="col">Service</th>
                    <th class="govuk-table__header" scope="col">Event</th>
                    <th class="govuk-table__header" scope="col">Channel</th>
                    <th class="govuk-table__header" scope="col">Version</th>
                  </tr>

                  <tbody class="govuk-table__body">
                  <tr>
                    <td data-label="Code"><a href="/fee0001-summary">FEE0001<a/></td>
                    <td class="govuk-table__cell">Filing an application for a divorce</td>
                    <td class="govuk-table__cell">Fixed</td>
                    <td class="govuk-table__cell">Flat</td>
                    <td class="govuk-table__cell">£550.00</td>
                    <td>Family</td>
                    <td>Family court</td>
                    <td>Divorce</td>
                    <td>Issue</td>
                    <td>Defult</td>
                    <td>2</td>
                  </tr>

                  <tr>
                    <td><a href="">FEE0002<a/></td>
                      <td >Additional copies of the grant representation</td>
                      <td >Fixed</td>
                      <td >Volume</td>
                      <td >£0.50</td>
                      <td >Family</td>
                      <td >Probate registry</td>
                      <td >Probate</td>
                      <td >Copies</td>
                      <td >Defult</td>
                      <td >3</td>
                  </tr>

                  <tr>
                    <td><a href="">FEE0003<a/></td>
                    <td>Recovery of Land</td>
                    <td>Fixed</td>
                    <td>Flat</td>
                    <td>£480.00</td>
                    <td>Civil</td>
                    <td>High court</td>
                    <td>Possession claim</td>
                    <td>Issue</td>
                    <td>Defult</td>
                    <td>3</td>
                  </tr>

                  </tbody>

                </table> -->
                <br>
                <br>
              </div>
            </div>






    </main>

          </div>


    {% endblock %} {% block page_scripts %}
    <script>
    function myFunction() {
      // Declare variables
      var input, filter, table, tr, td, i;
      input = document.getElementById("myInput");
      filter = input.value.toUpperCase();
      table = document.getElementById("testtable");
      tr = table.getElementsByTagName("tr");

      // Loop through all table rows, and hide those who don't match the search query
      for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[1];
        if (td) {
          if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
          } else {
            tr[i].style.display = "none";
          }
        }
      }

    }
    function hideAndShow() {
      let nav = $('.second-nav');
      if(nav.hasClass('hidden'))
        nav.removeClass('hidden').addClass('show');
      else
        nav.removeClass('show').addClass('hidden');
    }


    var columnNames = {
      code: 'Code',
      service: 'Service'
    };

    var dropDowns = document.querySelectorAll('.govuk-select');
    var radioButtons = document.querySelectorAll('.govuk-radios__input');
    var table = document.getElementById("testtable");
    var tbody = document.querySelectorAll('#testtable tbody tr');


    // for each of the drop downs, do something
    Array.from(dropDowns).forEach(function (dropDown) {
      console.log( dropDown.getAttribute('data-rel') );
      // everytime you change the value of the dropdown
      dropDown.addEventListener('change', doSomething);
    });

    Array.from(radioButtons).forEach(function (radioButton) {
      // everytime you change the value of the radio
      radioButton.addEventListener('change', doSomething);
    });


    function doSomething(event) {
      var dropdown = event.target;
      var numberOfRows = 0;

      // make the rows visible
      Array.from(tbody).forEach(tr => tr.style.display = 'table-row');
      if (dropdown.value === 'All') {
        document.getElementById('numberOfRows').innerHTML = $('#testtable tbody > tr').length + ' fees';

        return false;
      }


      for (var i = 0; i < tbody.length; i++) {
        var tableRow = tbody[i];
        var dataRel = dropdown.getAttribute('data-rel');
        var column = tableRow.querySelector('[data-label="'+dataRel+'"]');
        console.log( dropdown.value );
        if (column.innerHTML !== dropdown.value) {
          tableRow.style.display = 'none';
        } else {
          numberOfRows = numberOfRows + 1;
        }
      }

      document.getElementById('numberOfRows').innerHTML = numberOfRows + ' fees';
    }

    function resetSearchFilters() {

      $('#feeType').prop('selectedIndex',0);
      $('#amountType').prop('selectedIndex',0);
      $('#Jurisdiction1').prop('selectedIndex',0);
      $('#Jurisdiction2').prop('selectedIndex',0);
      $('#service').prop('selectedIndex',0);
      myFunction();
      let numberOfRows = $('#testtable tbody > tr').length
      document.getElementById('numberOfRows').innerHTML = numberOfRows + ' fees';
    }
    </script>
    {% endblock %}
