{% extends "layouts/admin/newlayout.html" %}

{% block pageTitle %}
Fee creaated
{% endblock %}

{% block content %}




<div class="hmcts-header__container">


         <main role="main" class="govuk-main-wrapper">


              <!-- <h1 class="govuk-heading-xl">Blank</h1> -->

              <div class="govuk-panel govuk-panel--confirmation" style="background-color: #00823b">
                <h2 class="govuk-panel__title">
                    {{ data['feecode'] }} has been rejected’
                </h2>
                <div class="govuk-panel__body">

                    Fee moved back to drafts for the editor to review.
                    <br>
                    <br>
                    <strong>{{ data['feecode'] }}</strong>
                </div>
              </div>

              <br>
             <br>


             <h2 class="govuk-heading-m">What happens next</h2>
             <p class="govuk-body">This fee has been moved back to drafts for the editor to review.</p>



             <a  href="/pending-approval" role="button" class="govuk-button">
                 View fees awaiting approval
             </a>


            </main>

    </div>



{% endblock %}
