{% extends "layouts/admin/newlayout.html" %}

{% block pageTitle %}
  Fee creaated
{% endblock %}

{% block content %}



  <div class="hmcts-header__container">


         <main role="main" class="govuk-main-wrapper">


              <!-- <h1 class="govuk-heading-xl">Blank</h1> -->

              <div class="govuk-panel govuk-panel--confirmation"  style="background-color: #00823b">
                <h2 class="govuk-panel__title">
                    {{ data['feecode'] }} has been submitted for approval
                </h2>
                <div class="govuk-panel__body">
                   <br><strong></strong>
                </div>
              </div>

              <br>
                <br>

             <h2 class="govuk-heading-m">What happens next</h2>
             <p class="govuk-body">If the approver rejects the fee, you’ll need to review it again before resubmitting the draft for approval.</p>

             <p class="govuk-body">    Once the fee has been approved, it will appear in the Fee Register on the agreed date.</p>


              <a  href="/draft-fees-awaiting-approval" role="button" class="govuk-button">
                View draft fees
              </a>


            </main>







    </div>



{% endblock %}
