conditional-fee-type-conditional-1{% extends "layouts/admin/base.html" %}

{% block pageTitle %}
  Create a fee
{% endblock %}

{% block content %}


<!--  TOP LINKS LIKE ALL FEES ETC -->
{% include "includes/topnav.html" %}



  <div class="hmcts-header__container">

    <main role="main" class="govuk-main-wrapper">

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">


                <h1 class="govuk-heading-xl">Create a draft for a new fee</h1>

                <div class="govuk-inset-text">
                  Fee code: FEE0089
                </div>

                <div style="width:940px;">

                    <div style="width:600px;">

                        <div class="govuk-form-group">
                            <label class="govuk-label" for="email">
                                Memo line
                            </label>
                            <input class="govuk-input" id="email" name="email" type="text" aria-describedby="email-hint" value="">
                        </div>


                        <div class="govuk-form-group">
                            <label class="govuk-label" for="account-code">
                                Natural account code
                            </label>
                            <input class="govuk-input govuk-input--width-10" id="account-code" name="email" type="text" aria-describedby="email-hint">
                        </div>

                        <!--  DESCRIPTION -->
                        <div class="govuk-form-group">
                            <label class="govuk-label" for="more-detail">
                                Description
                            </label>
                            <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="4" aria-describedby="more-detail-hint"></textarea>
                        </div>

                    </div>
                </div>



                <!--  DATE FROM -->
                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
                        <label class="govuk-label" for="more-detail">
                            <strong>Date fee will start</strong>
                        </label>
                        <div class="govuk-date-input" id="passport-issued">
                            <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                                        Day
                                    </label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" pattern="[0-9]*" inputmode="numeric">
                                </div>
                            </div>
                            <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                                        Month
                                    </label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" pattern="[0-9]*" inputmode="numeric">
                                </div>
                            </div>
                            <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                                        Year
                                    </label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" pattern="[0-9]*" inputmode="numeric" style="width:70px;">
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>


                <!--  DATE TO -->
                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
                        <label class="govuk-label" for="more-detail">
                            <strong>Date fee will stop (optional)/<strong>
                        </label>
                        <div class="govuk-date-input" id="passport-issued">
                            <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                                        Day
                                    </label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" pattern="[0-9]*" inputmode="numeric">
                                </div>
                            </div>
                            <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                                        Month
                                    </label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" pattern="[0-9]*" inputmode="numeric">
                                </div>
                            </div>
                            <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                                        Year
                                    </label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" pattern="[0-9]*" inputmode="numeric" style="width:70px;">
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>



                <!--  FEE TYPE  -->
                <div class="govuk-form-group">
                      <fieldset class="govuk-fieldset">
                          <label class="govuk-label" for="account-code">
                              <strong>Fee Type</strong>
                          </label>

                          <div class="govuk-radios" data-module="radios">
                              <div class="govuk-radios__item">
                                  <input class="govuk-radios__input" id="fee-type-conditional-1" name="fee-type" type="radio" value="email" data-aria-controls="conditional-fee-type-conditional-1">
                                  <label class="govuk-label govuk-radios__label" for="fee-type-conditional-1">
                                        Fixed
                                  </label>
                              </div>

                              <div class="govuk-radios__item">
                                  <input class="govuk-radios__input" id="fee-type-conditional-2" name="fee-type" type="radio" value="phone" data-aria-controls="conditional-fee-type-conditional-2">
                                  <label class="govuk-label govuk-radios__label" for="fee-type-conditional-2">
                                      Ranged
                                  </label>
                              </div>

                                    <!--  EXPANDED AREA FOR RANGED FEE TYPE RADIO -->
                                    <div class="govuk-radios__conditional" id="conditional-fee-type-conditional-2" style="padding-top: 20px; padding-bottom: 20px;">
                                        <div class="govuk-form-group">
                                              <label class="govuk-label" for="for-more-than">
                                                From more than
                                              </label>
                                              <p style="float:left; margin-top: 9px; margin-right:4px;">£</p>
                                              <input class="govuk-input" id="up-to" name="up-to" type="text" style="width:100px">
                                        </div>

                                        <div class="govuk-form-group">
                                            <label class="govuk-label" for="up-to">
                                                  Up to (optional)
                                            </label>
                                            <p style="float:left; margin-top: 9px; margin-right:4px;">£</p>
                                            <input class="govuk-input" id="up-to" name="up-to" type="text" style="width:100px">
                                        </div>


                                        <div class="govuk-form-group">
                                            <fieldset class="govuk-fieldset">
                                                <label class="govuk-label" for="account-code">
                                                    <strong>Ranged units</strong>
                                                </label>
                                                  <div class="govuk-radios">
                                                      <div class="govuk-radios__item">
                                                        <input class="govuk-radios__input" id="where-do-you-live-1" name="ranged-units" type="radio" value="england">
                                                        <label class="govuk-label govuk-radios__label" for="where-do-you-live-1">
                                                          GBP
                                                        </label>
                                                      </div>

                                                      <div class="govuk-radios__item">
                                                        <input class="govuk-radios__input" id="where-do-you-live-2" name="ranged-units" type="radio" value="scotland">
                                                        <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
                                                            Volume
                                                        </label>
                                                      </div>
                                                  </div>
                                            </fieldset>
                                        </div>

                                    </div>

                                </div>
                      </fieldset>
                    </div>


                <!-- AMOUNT TYPE  -->
                <div class="govuk-form-group">
                  <fieldset class="govuk-fieldset">
                    <label class="govuk-label" for="more-detail">
                        <strong>Amount Type</strong>
                    </label>

                    <div class="govuk-radios" data-module="radios">
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="how-contacted-conditional-1" name="amount-type" type="radio" value="email" data-aria-controls="conditional-how-contacted-conditional-1">
                        <label class="govuk-label govuk-radios__label" for="how-contacted-conditional-1">
                        Flat
                      </label>
                      </div>
                      <div class="govuk-radios__conditional" id="conditional-how-contacted-conditional-1">

                        <div class="govuk-currency-input">
                          <label class="govuk-label" for="contact-by-email">
                          Amount
                        </label>
                          <div class="govuk-currency-input__inner">
                            <span class="govuk-currency-input__inner__unit govuk-body">£</span>
                            <input class="govuk-currency-input__inner__input govuk-input" aria-label="Enter amount in pounds" name="tickets-cost" data-non-numeric type="number" id="tickets-cost" pattern="[0-9]\d*(\.\d+)?" {{ checked('tickets-cost','yes') }}>
                          </div>
                        </div>

                      </div>
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="how-contacted-conditional-2" name="amount-type" type="radio" value="phone" data-aria-controls="conditional-how-contacted-conditional-2">
                        <label class="govuk-label govuk-radios__label" for="how-contacted-conditional-2">
                        Percentage
                      </label>
                      </div>
                      <div class="govuk-radios__conditional" id="conditional-how-contacted-conditional-2">
                        <div class="govuk-currency-input">
                          <label class="govuk-label" for="contact-by-email">
                          Amount
                        </label>
                          <div class="govuk-currency-input__inner">
                            <span class="govuk-currency-input__inner__unit govuk-body">%</span>
                            <input class="govuk-currency-input__inner__input govuk-input" aria-label="Enter amount in pounds" name="tickets-cost" data-non-numeric type="number" id="tickets-cost" pattern="[0-9]\d*(\.\d+)?" {{ checked('tickets-cost','yes') }}>
                          </div>
                        </div>

                      </div>
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="how-contacted-conditional-3" name="amount-type" type="radio" value="text" data-aria-controls="conditional-how-contacted-conditional-3">
                        <label class="govuk-label govuk-radios__label" for="how-contacted-conditional-3">
                        Volume
                      </label>
                      </div>
                      <div class="govuk-radios__conditional" id="conditional-how-contacted-conditional-3">
                        <div class="govuk-currency-input">
                          <label class="govuk-label" for="contact-by-email">
                          Amount
                        </label>
                          <div class="govuk-currency-input__inner">
                            <span class="govuk-currency-input__inner__unit govuk-body">£</span>
                            <input class="govuk-currency-input__inner__input govuk-input" aria-label="Enter amount in pounds" name="tickets-cost" data-non-numeric type="number" id="tickets-cost" pattern="[0-9]\d*(\.\d+)?" {{ checked('tickets-cost','yes') }}>
                          </div>
                        </div>

                      </div>
                    </div>
                  </fieldset>
                </div>


                <!--  APPLICANT -->
                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset">
                        <label class="govuk-label" for="account-code">
                            <strong>Applicant</strong>
                        </label>

                        <div class="govuk-radios" data-module="radios">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="applicant-1" name="applicant-type" type="radio" value="email">
                                <label class="govuk-label govuk-radios__label" for="applicant-1">
                                    Personal
                                </label>
                            </div>

                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="applicant-2" name="applicant-type" type="radio" value="phone" >
                                <label class="govuk-label govuk-radios__label" for="applicant-2">
                                    Professional
                                </label>
                            </div>

                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="applicant-3" name="applicant-type" type="radio" value="phone">
                                <label class="govuk-label govuk-radios__label" for="applicant-3">
                                    All
                                </label>
                            </div>

                        </div>
                    </fieldset>
                </div>


                <!--  JURISDICTION 1 -->
                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset">
                        <label class="govuk-label" for="account-code">
                            <strong>Jurisdiction 1</strong>
                        </label>

                        <div class="govuk-radios" data-module="radios">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="jurisdiction-one-1" name="jurisdiction-one" type="radio" value="email">
                                <label class="govuk-label govuk-radios__label" for="jurisdiction-one-1">
                                    Civil
                                </label>
                            </div>

                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="jurisdiction-one-2" name="jurisdiction-one" type="radio" value="phone" >
                                <label class="govuk-label govuk-radios__label" for="jurisdiction-one-2">
                                    Family
                                </label>
                            </div>

                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="jurisdiction-one-3" name="jurisdiction-one" type="radio" value="phone">
                                <label class="govuk-label govuk-radios__label" for="applicant-3">
                                    Tribunal
                                </label>
                            </div>

                        </div>
                    </fieldset>
                </div>


                <!--  JURISDICTION 2 -->
                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset">
                        <label class="govuk-label" for="account-code">
                            <strong>Jurisdiction 2</strong>
                        </label>

                        <div class="govuk-grid-column-one-thirds" style="float: left; width:300px;">

                            <div class="govuk-radios" data-module="radios">
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="jurisdiction-two-1" name="jurisdiction-two" type="radio" value="email">
                                    <label class="govuk-label govuk-radios__label" for="jurisdiction-one-1">
                                        County court
                                    </label>
                                </div>

                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="jurisdiction-two-2" name="jurisdiction-two" type="radio" value="phone" >
                                    <label class="govuk-label govuk-radios__label" for="jurisdiction-one-2">
                                        High court
                                    </label>
                                </div>

                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="jurisdiction-two-3" name="jurisdiction-two" type="radio" value="phone">
                                    <label class="govuk-label govuk-radios__label" for="jurisdiction-two-3">
                                        Magistrates court
                                    </label>
                                </div>

                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="jurisdiction-two-4" name="jurisdiction-two" type="radio" value="phone" >
                                    <label class="govuk-label govuk-radios__label" for="jurisdiction-two-4">
                                        Court of protection
                                    </label>
                                </div>

                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="jurisdiction-two-5" name="jurisdiction-two" type="radio" value="phone">
                                    <label class="govuk-label govuk-radios__label" for="jurisdiction-two-5">
                                        Family court
                                    </label>
                                </div>
                            </div>

                        </div>

                        <div class="govuk-grid-column-one-thirds"  style="float: left; width:300px;">

                            <div class="govuk-radios" data-module="radios">
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="jurisdiction-two-2-1" name="jurisdiction-two" type="radio" value="email">
                                    <label class="govuk-label govuk-radios__label" for="jurisdiction-two-2-1">
                                        Probate registry
                                    </label>
                                </div>

                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="jurisdiction-two-2-2" name="jurisdiction-two" type="radio" value="phone" >
                                    <label class="govuk-label govuk-radios__label" for="jurisdiction-two-2-2">
                                        Gambling tribunal
                                    </label>
                                </div>

                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="jurisdiction-two-2-3" name="jurisdiction-two" type="radio" value="phone">
                                    <label class="govuk-label govuk-radios__label" for="jurisdiction-two-2-3">
                                        Gender recognition panel
                                    </label>
                                </div>

                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="jurisdiction-two-2-4" name="jurisdiction-two" type="radio" value="phone" >
                                    <label class="govuk-label govuk-radios__label" for="jurisdiction-two-2-4">
                                        Tax chamber
                                    </label>
                                </div>

                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="jurisdiction-two-2-5" name="jurisdiction-two" type="radio" value="phone">
                                    <label class="govuk-label govuk-radios__label" for="jurisdiction-two-2-5">
                                        Property chamber
                                    </label>
                                </div>
                            </div>

                        </div>

                        <div class="govuk-grid-column-one-thirds"  style="float: left; width:300px;">

                            <div class="govuk-radios" data-module="radios">
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="jurisdiction-two-3-1" name="jurisdiction-two" type="radio" value="email">
                                    <label class="govuk-label govuk-radios__label" for="jurisdiction-two-1">
                                        Immigration and asylum chamber
                                    </label>
                                </div>

                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="jurisdiction-two-3-2" name="jurisdiction-two" type="radio" value="phone" >
                                    <label class="govuk-label govuk-radios__label" for="jurisdiction-two-2">
                                        Upper tribunal immigration and asylum chamber
                                    </label>
                                </div>

                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="jurisdiction-two-3-3" name="jurisdiction-two" type="radio" value="phone">
                                    <label class="govuk-label govuk-radios__label" for="jurisdiction-two-3">
                                        Upper tribunal lands chamber
                                    </label>
                                </div>
                            </div>

                        </div>

                    </fieldset>
                </div>





                <div class="govuk-form-group"><label class="govuk-label" for="select-1">
                      Service
                    </label>
                  <select class="govuk-select" id="select-1" name="select-1">
                        <option value="0"selected>Select</option>
                        <option value="1">Civil money claims</option>
                        <option value="2">Possession claim</option>
                        <option value="3">Insolvency</option>
                        <option value="4">Private law</option>
                        <option value="5">Public law</option>
                        <option value="6">Divorce</option>
                        <option value="7">Adoption</option>
                        <option value="8">Gambling</option>
                        <option value="9">Gender recognition</option>
                        <option value="10">Immigration and asylum</option>
                        <option value="11">Property</option>
                        <option value="12">Tax</option>
                        <option value="13">Probate</option>
                        <option value="14">General</option>
                        <option value="15">Magistrates</option>
                      </select>
                </div>

                <!--  CHANNEL  -->
                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset">
                        <label class="govuk-label" for="account-code">
                            <strong>Channel</strong>
                        </label>

                        <div class="govuk-radios" data-module="radios">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="channel-1" name="channel" type="radio" value="email">
                                <label class="govuk-label govuk-radios__label" for="jurisdiction-one-1">
                                    Online
                                </label>
                            </div>

                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="channel-2" name="channel" type="radio" value="phone" >
                                <label class="govuk-label govuk-radios__label" for="jurisdiction-one-2">
                                    Bluk
                                </label>
                            </div>

                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="channel-3" name="channel" type="radio" value="phone">
                                <label class="govuk-label govuk-radios__label" for="applicant-3">
                                    Default
                                </label>
                            </div>

                        </div>
                    </fieldset>
                </div>


                <div class="govuk-form-group"><label class="govuk-label" for="select-1">
                      Event
                    </label>
                  <select class="govuk-select" id="select-1" name="select-1">
                        <option value="0"selected>Select</option>
                        <option value="1">Enforcement</option>
                        <option value="2">Appeal</option>
                        <option value="3">Search</option>
                        <option value="4">Issue</option>
                        <option value="5">General application</option>
                        <option value="6">Copies</option>
                        <option value="7">Hearing</option>
                        <option value="8">Miscellaneous</option>
                        <option value="9">Cost assessment</option>
                      </select>
                </div>

                <div class="govuk-form-group"><label class="govuk-label" for="select-1">
                      Direction
                    </label>
                  <select class="govuk-select" id="select-1" name="select-1">
                        <option value="0"selected>Select</option>
                        <option value="1">Cost recovery</option>
                        <option value="2">Enhanced</option>
                        <option value="3">Licence</option>
                        <option value="4">Partial cost recovery</option>
                        <option value="5">Pre cost recovery</option>
                        <option value="6">Reduced churn</option>
                        <option value="7">Simplified</option>
                      </select>
                </div>


            <div class="govuk-form-group">
                  <label class="govuk-label" for="email">
                    Fee Order Name
                  </label>
                  <input class="govuk-input" id="email" name="email" type="text" aria-describedby="email-hint" style="width:400px;">
            </div>

            <div class="govuk-form-group">
                  <label class="govuk-label" for="email">
                    Statutory Instrument
                  </label>
                  <input class="govuk-input" id="email" name="email" type="text" aria-describedby="email-hint"  style="width:400px;">
            </div>

            <div class="govuk-form-group">
                  <label class="govuk-label" for="email">
                    SI REF ID
                  </label>
                  <input class="govuk-input" id="email" name="email" type="text" aria-describedby="email-hint"  style="width:150px;">
            </div>


            <!--   BUTTONS  -->
            <br>
            <div class="govuk-form-group">
                <a href="/fee-created" role="button" class="govuk-button">
                Create draft
              </a>
            </div>


            <br>
            <br>









    </div>






    </main>


  </div>





  {% endblock %}
  {% block page_scripts %}
  <script>

  $(function() {
    $('input[name="birthday"]').daterangepicker({
      singleDatePicker: true,
      showDropdowns: true,
      minYear: 1901,
      maxYear: parseInt(moment().format('YYYY'),10)
    }, function(start, end, label) {
      var years = moment().diff(start, 'years');
      // alert("You are " + years + " years old!");
    });

  });



  </script>
  {% endblock %}
