{% extends "layouts/admin/newlayout.html" %}

{% block pageTitle %}
  Draft fees
{% endblock %}

{% block content %}



<div class="hmcts-header__container">

    <main role="main" class="govuk-main-wrapper">


        <div class="govuk-tabs" data-module="govuk-tabs">
            <h2 class="govuk-tabs__title">
                Contents
            </h2>
            <ul class="govuk-tabs__list">
                <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                    <a class="govuk-tabs__tab" href="/draft-fees" style="text-decoration: underline;">
                        Drafts
                    </a>
                </li>
                <li class="govuk-tabs__list-item">
                    <a class="govuk-tabs__tab" href="/draft-fees-rejected"
                       style=" border: 1px solid #b1b4b6;
                               border-bottom: 0;
                               margin-bottom: -1px;
                               background-color: #fff;">
                        Rejected by approver
                    </a>
                </li>
                <li class="govuk-tabs__list-item">
                    <a class="govuk-tabs__tab" href="/draft-fees-awaiting-approval" style="text-decoration: underline;">
                        Awaiting approval
                    </a>
                </li>
            </ul>


            <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past-week">

                <h1 class="govuk-heading-x govuk-!-margin-top-3 govuk-!-margin-bottom-6">Rejected by approver</h1>



                {% if data.emptyrejectedslist != "true" %}
                    <table class="govuk-table">

                        <thead class="govuk-table__head font-16">
                            <tr class="govuk-table__row">
                                <th class="govuk-table__header" scope="col" style="width: 60px;">Code</th>
                                <th class="govuk-table__header" scope="col" style="width:84px; text-align: right; padding-right: 20px;">Amount</th>
                                <th class="govuk-table__header" scope="col" style="width: 120px;">Service</th>
                                <th class="govuk-table__header" scope="col" style="width: 200px;">Description</th>
                                <th class="govuk-table__header" scope="col" style="width: 100px;">Statutory Instrument</th>
                                <th class="govuk-table__header" scope="col" style="width:100px;">Valid from</th>
                                <th class="govuk-table__header" scope="col" style="width:40px;"></th>

                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td data-label="Code"style="padding-right:10px;">FEE0862</td>
                                <td data-label="Service" style="text-align: right;  padding-right: 20px;">£100.00</td>
                                <td data-label="Service"style="padding-right:10px;">Civil Money Claims</td>
                                <td data-label="Jurisdiction 2" style="padding-right:10px;">Counter Claim - 0.01 up to 300 ...</td>
                                <td data-label="Description" style="padding-right:10px;">2021 No 576</td>

                                <td data-label="Service" style="text-align: left;  padding-right: 20px;">9 September 2021</td>
                                <td data-label=""><a href="fee-details?draft=true&brandnewfeescenario=false&waitingforapproval=true&feecode=FEE0429&rejected=true&">View</a></td>
                            </tr>
                            <tr>
                                <td data-label="Code"style="padding-right:10px;">FEE1002</td>
                                <td data-label="Service" style="text-align: right;  padding-right: 20px;">£220.00</td>
                                <td data-label="Service"style="padding-right:10px;">Dirvorce</td>
                                <td data-label="Jurisdiction 2" style="padding-right:10px;">General Application</td>
                                <td data-label="Description" style="padding-right:10px;">2021 No 576</td>

                                <td data-label="Service" style="text-align: left;  padding-right: 20px;">1 November 2021</td>
                                <td data-label=""><a href="fee-details?draft=true&brandnewfeescenario=true&waitingforapproval=true&feecode=FEE0429&rejected=true&">View</a></td>
                            </tr>
                        </tbody>

                    </table>
                {% else %}
                    <p>No rejected fees.</p>
                {% endif %}



                    <!-- <p>No rejected fees.</p>  -->


            </div>

        </div>



    </main>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>


</div>



<form method="post"  action="#" class="for4" style=" float: left; margin-top: 50px; padding-left: 20px; ">
    <p style="margin-bottom: 5px;">Empty list</p>
    <select style="height:25px;" onchange="window.location.href='?'+this.value">

        <option value="emptyrejectedslist=false&" {% if data.emptyrejectedslist != "true" %} selected {% endif %}
        >Populated list</option>

        <option value="emptyrejectedslist=true&" {% if data.emptyrejectedslist == "true" %} selected {% endif %}
        >Empty list</option>

    </select>
</form>



{% endblock %}
