{% extends "layouts/admin/base.html" %}

{% block pageTitle %}
  Draft fees
{% endblock %}

{% block content %}
<br>

  <div class="jui-width-container">



            <main role="main" class="govuk-main-wrapper">

              <div class="submit-alert">
                <span class="closebtn" onclick="this.parentElement.style.display='none';"> Hide</span>
                FEE0089 submitted
              </div>

              <br>



              <h1 class="govuk-heading-xl">Draft fees</h1>



              <h2 class="govuk-heading-m">Fees to submit</h2>
              <span id="nationality-hint" class="govuk-hint">
                  No fees to submit
                </span>



              <br>
              <br>
              <br>

              <h2 class="govuk-heading-m">Fees pending approval</h2>
              <span id="nationality-hint" class="govuk-hint">
                  No fees pending approval
                </span>

            </main>

            <br>







    </div>



{% endblock %}
