{% extends "layouts/admin/newlayout.html" %}

{% block pageTitle %}
Fee details
{% endblock %}

{% block content %}

  <div class="hmcts-header__container">


         <main role="main" class="govuk-main-wrapper">

             <!-- <h1 class="govuk-heading-xl">Blank</h1> -->
              <div class="govuk-panel govuk-panel--confirmation" style="background-color: #00823b">
                <h2 class="govuk-panel__title">
                    {{ data['feecode'] }} has been deleted
                </h2>
                <div class="govuk-panel__body">
                   <br><strong></strong>
                </div>
              </div>

              <br>
              <br>

             <h2 class="govuk-heading-m">What happens next</h2>
             <p class="govuk-body">You can go back to your draft fees to edit fee details or create a new fee.</p>

             <a  href="/draft-fees" role="button" class="govuk-button">
                 View draft fees
             </a>

            </main>

    </div>



{% endblock %}
