{% extends "layouts/admin/base.html" %}

{% block pageTitle %}
  Draft fees
{% endblock %}

{% block content %}
<br>

  <div class="jui-width-container">



            <main role="main" class="govuk-main-wrapper">


              <h1 class="govuk-heading-xl">Draft fees</h1>



              <h2 class="govuk-heading-m">Fees to submit</h2>
              <table class="govuk-table">
                <thead class="govuk-table__head">
                  <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="col">
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="nationality-2" name="nationality" type="checkbox" value="irish">
                        <label class="govuk-label govuk-checkboxes__label" for="nationality-2">All
                      </label>
                      </div>
                    </th>

                    <th class="govuk-table__header" scope="col">Code</th>
                    <th class="govuk-table__header" scope="col">Description</th>
                    <th class="govuk-table__header" scope="col">Type</th>
                    <th class="govuk-table__header" scope="col">Amount type</th>
                    <th class="govuk-table__header" scope="col">Type value</th>
                    <th class="govuk-table__header" scope="col">Jurisdiction 1</th>
                    <th class="govuk-table__header" scope="col">Jurisdiction 2</th>
                    <th class="govuk-table__header" scope="col">Service</th>
                    <th class="govuk-table__header" scope="col">Event</th>
                    <th class="govuk-table__header" scope="col">Channel</th>
                    <th class="govuk-table__header" scope="col">Version</th>
                  </tr>
                </thead>
                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row"><div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="nationality-2" name="nationality" type="checkbox" value="irish">
                    <label class="govuk-label govuk-checkboxes__label" for="nationality-2">

                  </label>
                  </div></th>
                    <td class="govuk-table__cell ">FE00089</td>
                    <td class="govuk-table__cell ">An application for..</td>
                    <td class="govuk-table__cell ">Fixed</td>
                    <td class="govuk-table__cell ">Flat</td>
                    <td class="govuk-table__cell ">£25.00</td>
                    <td class="govuk-table__cell ">Tribunal</td>
                    <td class="govuk-table__cell ">Upper tribunal</td>
                    <td class="govuk-table__cell ">Immigration and asylum</td>
                    <td class="govuk-table__cell ">Issue</td>
                    <td class="govuk-table__cell ">Defult</td>
                    <td class="govuk-table__cell ">1</td>
                  </tr>

                </tbody>
              </table>

              <button type="submit" class="govuk-button">
                Reject
              </button>

              <button type="submit" class="govuk-button">
                Submit
              </button>

              <br>
              <br>
              <br>

              <h2 class="govuk-heading-m">Fees pending approval</h2>
              <span id="nationality-hint" class="govuk-hint">
                  No fees pending approval
                </span>

            </main>

            <br>







    </div>



{% endblock %}
