{% extends "layouts/admin/newlayout.html" %}

{% block pageTitle %}
  Fee details
{% endblock %}

{% block content %}




<div class="hmcts-header__container">


  <div class="govuk-grid-row">

    <div class="govuk-grid-column-full">

      <nav class="hmcts-sub-navigation" aria-label="Sub navigation">
        <div class="jui-width-container">

          <ul class="hmcts-sub-navigation__list">

            <li class="hmcts-sub-navigation__item">
              <a class="hmcts-sub-navigation__link" aria-current="page" href="/fee0001-summary">
                Fee details
              </a>
            </li>

            <li class="hmcts-sub-navigation__item">
              <a class="hmcts-sub-navigation__link" href="/previous-versions">
                Versions
              </a>
            </li>

            <!--
                <li class="hmcts-sub-navigation__item">
                  <a class="hmcts-sub-navigation__link" href="/timeline">
                    Timeline
                  </a>
                </li>
            -->


          </ul>
        </div>
      </nav>

      <h1 class="govuk-body govuk-!-font-size-48 govuk-!-font-weight-bold">
        {% if data['usertype'] == 'approver'  and  data['waitingforapproval'] == 'true'  %}
            Fee details
        {% elif data['usertype'] == 'approver'  and  data['waitingforapproval'] != 'true'  %}
            Fee details
        {% elseif  data['draft'] == 'true' %}
            Fee details
        {% else %}
            Fee details
        {% endif %}
      </h1>

    </div>
  </div>










  {% if  data['rejected'] == 'true' and  data['usertype'] != 'approver' %}
      <dl class="govuk-check-your-answers govuk-check-your-answers--short">
        <div class="govuk-check-your-answers__contents">
          <dt class="govuk-check-your-answers__question">
            Reason approver rejected fee
          </dt>
          <dd class="govuk-check-your-answers__answer">
            The dates are wrong.  It starts one month early.
          </dd>
        </div>
      </dl>
  {% endif %}




  {% if  data['draft'] == 'true' %}
    {% include "includes/feedetailschanged.html" %}
    {% include "includes/feedetailsunchanged.html" %}

  {% else %}
        {% include "includes/feedetailsfull.html" %}
  {% endif %}




  <!-- BUTTONS AD LINKS -->
  <br>

    <div class="form-group">

    {% if  data['draft'] == 'true' %}

              {% if  data['usertype'] == 'approver' %}
                  {% if    data['waitingforapproval'] == 'true' %}
                      <div class="" style="width:130px;">
                          <a href="/approval-confirmation"> <button class="govuk-button">Approve fee</button> </a>
                          <p><a href="/reject-fee-reason">Reject fee</a></p>
                      </div>
                  {% endif %}

              {% else %}
                  <!-- editor user -->
                  <div class="" style="width:2000px;">

                      {% if  data['waitingforapproval'] != 'true' or data['rejected'] == 'true'  %}
                          <a href="/approval-request-confirmation"> <button class="govuk-button">Request approval</button> </a>
                          <p><a href="/create-a-fee?editexisitingfee=true&">Edit</a></p>
                          <p><a href="draft-deleted-confirmation">Delete</a></p>
                      {% endif %}


                  </div>
              {% endif %}

    {% else %}

      {% if  data['usertype'] == 'approver' %}
          <!--  Approvers can't create new versions -->
      {% else %}
          <a class="govuk-button" href="/create-a-fee?editexisitingfee=true&">Create new draft version of this fee</a>
      {% endif %}

    {% endif %}

    <!-- <button class="govuk-button2" style="width:110px;" href="/fee0001-edit">Reject fee</button> -->

    <p><a href="javascript:history.back()">Back</a></p>

    <br>


  </div>



</div>

{% endblock %}

