{% extends "layouts/admin/base.html" %}

{% block pageTitle %}
  Fee creaated
{% endblock %}

{% block content %}
<br>

  <div class="jui-width-container">



            <main role="main" class="govuk-main-wrapper">


              <!-- <h1 class="govuk-heading-xl">Blank</h1> -->

              <div class="govuk-panel govuk-panel--confirmation">
                <h2 class="govuk-panel__title">
                  Draft fee created
                </h2>
                <div class="govuk-panel__body">
                  Fee code<br><strong>FEE0089</strong>
                </div>
              </div>

              <br>

              <h2 class="govuk-heading-m">What happens next</h2>
              <p class="govuk-body">Your fee has been added to your draft fees.</p>
              <p class="govuk-body">You will need to submit this for appoval.</p>


              <a href="/create-a-fee" role="button" class="govuk-button">
                Create another fee
              </a>


            </main>







    </div>



{% endblock %}
