{% extends "layouts/admin/casefile.html" %}

{% block pageTitle %}
  FEE0001 | Summary
{% endblock %}

{% block content %}
<nav class="hmcts-primary-navigation" aria-label="Primary navigation">

    <div class="hmcts-header__container">


<ul class="hmcts-primary-navigation__list">

<li class="hmcts-primary-navigation__item">
<a class="hmcts-primary-navigation__link" aria-current="page" href="/all-fees">
All fees
</a>
</li>

<li class="hmcts-primary-navigation__item">
<a class="hmcts-primary-navigation__link" href="/draft-fees">
Draft fees
</a>
</li>

<li class="hmcts-primary-navigation__item">
<a class="hmcts-primary-navigation__link" href="/create-a-fee">
Create a fee
</a>
</li>

<li class="hmcts-primary-navigation__item">
<a class="hmcts-primary-navigation__link" href="/upload-fee">
Upload a fee
</a>
</li>

<li class="hmcts-primary-navigation__item">
<a class="hmcts-primary-navigation__link" href="/reference-data">
Reference data
</a>
</li>



</ul>

</div>


</nav>

<!-- <div class="jui-casebar">

  <div class="hmcts-width-container">

    <div class="jui-casebar__details">

        <span class="jui-casebar__reference">FEE0001</span>

    </div>

  </div>

</div> -->





        <div class="hmcts-header__container">



          <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">

          <!-- <nav class="app-c-navigation govuk-h-clearfix" >

          <ul class="app-c-navigation__list"  >
            <li class="app-c-navigation--current-page">
              <a class="govuk-link" href="">Summary</a>
            </li>

            <li>
              <a class="govuk-link" href="">Previous versions</a>
            </li>

          </ul>

        </div>
      </div>

      <br>

        </nav> -->




                  <!-- <nav class="jui-secondary-nav" aria-label="">
            <ul class="jui-secondary-nav__list">

                <li class="jui-secondary-nav__item">
                  <a class="jui-secondary-nav__link" aria-current="page" href="/fee0001-summary">Summary</a>
                </li>

                <li class="jui-secondary-nav__item">
                  <a class="jui-secondary-nav__link" href="/fee0001-previous-version">Previous versions</a>
                </li>
            </ul>
          </nav> -->

          <nav class="hmcts-sub-navigation" aria-label="Sub navigation">
              <div class="jui-width-container">

          <ul class="hmcts-sub-navigation__list">

          <li class="hmcts-sub-navigation__item">
            <a class="hmcts-sub-navigation__link" aria-current="page" href="/fee0001-summary">
              Summary
            </a>
          </li>

          <li class="hmcts-sub-navigation__item">
            <a class="hmcts-sub-navigation__link" href="/fee0001-previous-version">
              Previous versions
            </a>
          </li>

          <li class="hmcts-sub-navigation__item">
            <a class="hmcts-sub-navigation__link" href="/fee0001-timeline">
              Timeline
            </a>
          </li>

          </ul>
          </div>

          </nav>

          <h1 class="govuk-body govuk-!-font-size-48 govuk-!-font-weight-bold">
            <span class="govuk-caption-xl">FEE0001</span> Summary
            </h1>

                <!-- <nav class="jui-secondary-nav" aria-label="">
          <ul class="jui-secondary-nav__list">

              <li class="jui-secondary-nav__item">
                  <a class="jui-secondary-nav__link" aria-current="page" href="/fee0001-summary">Summary</a>
              </li>

              <li class="jui-secondary-nav__item">
                <a class="jui-secondary-nav__link" href="/fee0001-previous-version">Previous versions</a>
              </li>
          </ul>
        </nav> -->





        </div>
      </div>

      <br>






            <div class="govuk-grid-row">
              <div class="govuk-grid-column-two-thirds">
                  <h2 class="govuk-heading-l">Fee details</h2>
                <dl class="govuk-check-your-answers govuk-check-your-answers--short">
                <div class="govuk-check-your-answers__contents">
                  <dt class="govuk-check-your-answers__question govuk-!-font-size-36">

                  </dt>
                  <dd class="govuk-check-your-answers__answer">

                  </dd>
                  <dd class="govuk-check-your-answers__change">
                    <a href="/fee0001-amount-edit">
                      <span class="visually-hidden"></span>
                    </a>
                  </dd>
                </div>
              </dl>

                <dl class="govuk-check-your-answers govuk-check-your-answers--short">
                  <div class="govuk-check-your-answers__contents">
                    <dt class="govuk-check-your-answers__question">
                      Fee code
                    </dt>
                    <dd class="govuk-check-your-answers__answer">
                      FEE0001
                    </dd>
                    <dd class="govuk-check-your-answers__change">
                      <a href="#">
                        <span class="visually-hidden"></span>
                      </a>
                    </dd>
                  </div>

                  <div class="govuk-check-your-answers__contents">
                    <dt class="govuk-check-your-answers__question">
                      Natural account code
                    </dt>
                    <dd class="govuk-check-your-answers__answer">
                      X07238
                    </dd>
                    <dd class="govuk-check-your-answers__change">
                      <a href="#">
                        <span class="visually-hidden"></span>
                      </a>
                    </dd>
                  </div>
                  <div class="govuk-check-your-answers__contents">
                    <dt class="govuk-check-your-answers__question">
                      Description
                    </dt>
                    <dd class="govuk-check-your-answers__answer">
                      Filing an application for a divorce.
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas a sapien id arcu ullamcorper bibendum.
                    </dd>
                    <dd class="govuk-check-your-answers__change">
                      <a href="#">
                        <span class="visually-hidden"></span>
                      </a>
                    </dd>
                  </div>

                  <div class="govuk-check-your-answers__contents">
                    <dt class="govuk-check-your-answers__question">
                      Jurisdiction 1
                    </dt>
                    <dd class="govuk-check-your-answers__answer">
                      Family
                    </dd>
                    <dd class="govuk-check-your-answers__change">
                      <a href="#">
                        <span class="visually-hidden"></span>
                      </a>
                    </dd>
                  </div>
                  <div class="govuk-check-your-answers__contents">
                    <dt class="govuk-check-your-answers__question">
                      Jurisdiction 2
                    </dt>
                    <dd class="govuk-check-your-answers__answer">
                      Family court
                    </dd>
                    <dd class="govuk-check-your-answers__change">
                      <a href="#">
                        <span class="visually-hidden"></span>
                      </a>
                    </dd>
                  </div>
                  <div class="govuk-check-your-answers__contents">
                    <dt class="govuk-check-your-answers__question">
                      Fee type
                    </dt>
                    <dd class="govuk-check-your-answers__answer">
                      Fixed
                    </dd>
                    <dd class="govuk-check-your-answers__change">
                      <a href="#">
                        <span class="visually-hidden"></span>
                      </a>
                    </dd>
                  </div>
                  <div class="govuk-check-your-answers__contents">
                    <dt class="govuk-check-your-answers__question">
                      Amount type
                    </dt>
                    <dd class="govuk-check-your-answers__answer">
                      Flat
                    </dd>
                    <dd class="govuk-check-your-answers__change">
                      <a href="#">
                        <span class="visually-hidden"></span>
                      </a>
                    </dd>
                  </div>
                  <div class="govuk-check-your-answers__contents">
                    <dt class="govuk-check-your-answers__question">
                      Version
                    </dt>
                    <dd class="govuk-check-your-answers__answer">
                      2
                    </dd>
                    <dd class="govuk-check-your-answers__change">
                      <a href="#">
                        <span class="visually-hidden"></span>
                      </a>
                    </dd>
                  </div>

                </dl>

                <br>
                <br>


                <a class="govuk-button" href="/fee0001-edit">Create a new version of this fee</a>



                <dl class="govuk-check-your-answers govuk-check-your-answers--short">

                <div class="govuk-check-your-answers__contents">
                  <dt class="govuk-check-your-answers__question govuk-!-font-size-19">

                  </dt>
                  <dd class="govuk-check-your-answers__answer">

                  </dd>
                  <dd class="govuk-check-your-answers__change">
                    <!-- <a href="/fee0001-edit">
                      Change<span class="visually-hidden"></span>
                    </a> -->

                  </dd>
                </div>
              </dl>

                <dl class="govuk-check-your-answers govuk-check-your-answers--short">
                  <div class="govuk-check-your-answers__contents">
                    <dt class="govuk-check-your-answers__question">
                      Memo line
                    </dt>
                    <dd class="govuk-check-your-answers__answer">
                      Filing an application for a divorce
                    </dd>
                    <dd class="govuk-check-your-answers__change">
                      <a href="#">
                        <span class="visually-hidden"></span>
                      </a>
                    </dd>
                  </div>
                  <div class="govuk-check-your-answers__contents">
                    <dt class="govuk-check-your-answers__question">
                      Active date
                    </dt>
                    <dd class="govuk-check-your-answers__answer">
                      23 Apr 1995 - present
                    </dd>
                    <dd class="govuk-check-your-answers__change">
                      <a href="#">
                        <span class="visually-hidden"></span>
                      </a>
                    </dd>
                  </div>

                  <div class="govuk-check-your-answers__contents">
                    <dt class="govuk-check-your-answers__question">
                      Fee amount
                    </dt>
                    <dd class="govuk-check-your-answers__answer">
                      £550.00
                    </dd>
                    <dd class="govuk-check-your-answers__change">
                      <a href="/fee0001-amount-edit">
                        <span class="visually-hidden"></span>
                      </a>
                    </dd>
                  </div>
                  <div class="govuk-check-your-answers__contents">
                    <dt class="govuk-check-your-answers__question">
                      Service
                    </dt>
                    <dd class="govuk-check-your-answers__answer">
                      Divorce
                    </dd>
                    <dd class="govuk-check-your-answers__change">
                      <a href="#">
                        <span class="visually-hidden"></span>
                      </a>
                    </dd>
                  </div>
                  <div class="govuk-check-your-answers__contents">
                    <dt class="govuk-check-your-answers__question">
                      Fee Order Name
                    </dt>
                    <dd class="govuk-check-your-answers__answer">
                      Lorem ipsum
                    </dd>
                    <dd class="govuk-check-your-answers__change">
                      <a href="#">
                        <span class="visually-hidden"></span>
                      </a>
                    </dd>
                  </div>
                  <div class="govuk-check-your-answers__contents">
                    <dt class="govuk-check-your-answers__question">
                      Statutory Instrument
                    </dt>
                    <dd class="govuk-check-your-answers__answer">
                      Lorem ipsum
                    </dd>
                    <dd class="govuk-check-your-answers__change">
                      <a href="#">
                        <span class="visually-hidden"></span>
                      </a>
                    </dd>
                  </div>
                  <div class="govuk-check-your-answers__contents">
                    <dt class="govuk-check-your-answers__question">
                      SI REF ID
                    </dt>
                    <dd class="govuk-check-your-answers__answer">
                      Lorem ipsum
                    </dd>
                    <dd class="govuk-check-your-answers__change">
                      <a href="#">
                        <span class="visually-hidden"></span>
                      </a>
                    </dd>
                  </div>
                </dl>

                <br>

              </div>



              <div class="govuk-grid-column-one-third">


                <h2 class="govuk-heading-l">Timeline</h2>


                <div class="jui-timeline">


                  <div class="jui-timeline__item">

                    <div class="jui-timeline__header">
                      <h3 class="jui-timeline__title">Version 2 created</h3>


                        <p class="jui-timeline__by">by Jamie Hunt</p>






                    </div>



                    <p class="jui-timeline__date"><time datetime="2018-01-25T16:48">23 April 1995 at 4:48pm</time></p>




                            <span class="govuk-body govuk-!-font-size-18"><br>Price increase in fee due to inflation</span>


                  </div>



                  <div class="jui-timeline__item">

                    <div class="jui-timeline__header">
                      <h3 class="jui-timeline__title">Version 1 created</h3>

                        <p class="jui-timeline__by">by Lucy Jones</p>

                    </div>

                    <p class="jui-timeline__date"><time datetime="2017-11-20T13:01">02 January 1990 at 1:01pm</time></p>

                  </div>




                </div>




                <a class="govuk-link" href="/fee0001-timeline">View all events</a>


                </div>
              </div>





            <br>




    </div>



{% endblock %}
