{% extends "layouts/admin/casefile.html" %}

{% block pageTitle %}
  FEE0001 | Edit
{% endblock %}

{% block content %}
<nav class="hmcts-primary-navigation" aria-label="Primary navigation">

    <div class="hmcts-header__container">


<ul class="hmcts-primary-navigation__list">

<li class="hmcts-primary-navigation__item">
<a class="hmcts-primary-navigation__link" href="/all-fees">
All fees
</a>
</li>

<li class="hmcts-primary-navigation__item">
<a class="hmcts-primary-navigation__link" href="/draft-fees">
Draft fees
</a>
</li>

<li class="hmcts-primary-navigation__item">
<a class="hmcts-primary-navigation__link" href="/create-a-fee">
Create a fee
</a>
</li>

<li class="hmcts-primary-navigation__item">
<a class="hmcts-primary-navigation__link" href="/upload-fee">
Upload a fee
</a>
</li>

<li class="hmcts-primary-navigation__item">
<a class="hmcts-primary-navigation__link" href="/reference-data">
Reference data
</a>
</li>



</ul>

</div>


</nav>

<div class="hmcts-header__container">

<main role="main" class="govuk-main-wrapper">


  <!-- <h1 class="govuk-heading-xl">Blank</h1> -->

  <div class="govuk-panel govuk-panel--confirmation">
    <h2 class="govuk-panel__title">
      Draft fee created
    </h2>
    <div class="govuk-panel__body">
        FEE0001
        <br>
      <strong>Version 3</strong>
    </div>
  </div>

  <br>

  <h2 class="govuk-heading-m">What happens next</h2>
  <p class="govuk-body">Your new version of the fee has been added to your draft fees.</p>
  <p class="govuk-body">You will need to submit this for appoval.</p>

  <!-- <a href="">
    Return to
  </a> -->

</main>

</div>



{% endblock %}
