{% extends "layouts/admin/casefile.html" %}

{% block pageTitle %}
  FEE0001 | Previous versions
{% endblock %}

{% block content %}


        <div class="jui-casebar">
          <div class="jui-width-container">

                <div class="jui-casebar__details">
                  FEE0001<span class="jui-casebar__title"> Filing an application for a divorce</span>
                </div>

                <div class="jui-casebar__options">

                      <nav class="jui-case-actions">
                    <ul class="jui-case-actions__list">

                      <li class="jui-case-actions__item">
                        <a class="jui-case-actions__link" href="">Delete fee</a>
                      </li>



                    </ul>
                    </nav>

                </div>



          </div>
        </div>

        <div class="jui-width-container">

                  <nav class="jui-secondary-nav" aria-label="">
            <ul class="jui-secondary-nav__list">

                <li class="jui-secondary-nav__item">
                  <a class="jui-secondary-nav__link" href="/fee0001-summary">Summary</a>
                </li>

                <li class="jui-secondary-nav__item">
                  <a class="jui-secondary-nav__link" aria-current="page" href="/fee0001-previous-version">Previous versions</a>
                </li>
            </ul>
          </nav>

        </div>






          <div class="jui-width-container">

            <div class="govuk-grid-row">
              <div class="govuk-grid-column-one-half">

            <h1 class="govuk-heading-xl">Previous versions</h1>

            <details class="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  Version 1
                </span>
              </summary>
              <div class="govuk-details__text">
                <dl class="govuk-check-your-answers govuk-check-your-answers--short">
                  <div class="govuk-check-your-answers__contents">
                    <dt class="govuk-check-your-answers__question">
                      Fee code
                    </dt>
                    <dd class="govuk-check-your-answers__answer">
                      FEE0001
                    </dd>
                    <dd class="govuk-check-your-answers__change">
                      <a href="#">
                        <span class="visually-hidden"></span>
                      </a>
                    </dd>
                  </div>
                  <div class="govuk-check-your-answers__contents">
                    <dt class="govuk-check-your-answers__question">
                      Fee amount
                    </dt>
                    <dd class="govuk-check-your-answers__answer">
                      £500.00
                    </dd>
                    <dd class="govuk-check-your-answers__change">
                      <a href="/fee0001-amount-edit">
                        <span class="visually-hidden"></span>
                      </a>
                    </dd>
                  </div>
                  <div class="govuk-check-your-answers__contents">
                    <dt class="govuk-check-your-answers__question">
                      Memo line
                    </dt>
                    <dd class="govuk-check-your-answers__answer">
                      This is a memo line about the fee
                    </dd>
                    <dd class="govuk-check-your-answers__change">
                      <a href="#">
                        <span class="visually-hidden"></span>
                      </a>
                    </dd>
                  </div>
                  <div class="govuk-check-your-answers__contents">
                    <dt class="govuk-check-your-answers__question">
                      Natural account code
                    </dt>
                    <dd class="govuk-check-your-answers__answer">
                      X07238
                    </dd>
                    <dd class="govuk-check-your-answers__change">
                      <a href="#">
                        <span class="visually-hidden"></span>
                      </a>
                    </dd>
                  </div>
                  <div class="govuk-check-your-answers__contents">
                    <dt class="govuk-check-your-answers__question">
                      Description
                    </dt>
                    <dd class="govuk-check-your-answers__answer">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas a sapien id arcu ullamcorper bibendum.
                    </dd>
                    <dd class="govuk-check-your-answers__change">
                      <a href="#">
                        <span class="visually-hidden"></span>
                      </a>
                    </dd>
                  </div>
                  <div class="govuk-check-your-answers__contents">
                    <dt class="govuk-check-your-answers__question">
                      Active date
                    </dt>
                    <dd class="govuk-check-your-answers__answer">
                      02 Jan 1990 - 23 Apr 1995
                    </dd>
                    <dd class="govuk-check-your-answers__change">
                      <a href="#">
                        <span class="visually-hidden"></span>
                      </a>
                    </dd>
                  </div>
                  <div class="govuk-check-your-answers__contents">
                    <dt class="govuk-check-your-answers__question">
                      Type
                    </dt>
                    <dd class="govuk-check-your-answers__answer">
                      Fixed
                    </dd>
                    <dd class="govuk-check-your-answers__change">
                      <a href="#">
                        <span class="visually-hidden"></span>
                      </a>
                    </dd>
                  </div>
                  <div class="govuk-check-your-answers__contents">
                    <dt class="govuk-check-your-answers__question">
                      Amount type
                    </dt>
                    <dd class="govuk-check-your-answers__answer">
                      Flat
                    </dd>
                    <dd class="govuk-check-your-answers__change">
                      <a href="#">
                        <span class="visually-hidden"></span>
                      </a>
                    </dd>
                  </div>
                  <div class="govuk-check-your-answers__contents">
                    <dt class="govuk-check-your-answers__question">
                      Jurisdiction 1
                    </dt>
                    <dd class="govuk-check-your-answers__answer">
                      Family
                    </dd>
                    <dd class="govuk-check-your-answers__change">
                      <a href="#">
                        <span class="visually-hidden"></span>
                      </a>
                    </dd>
                  </div>
                  <div class="govuk-check-your-answers__contents">
                    <dt class="govuk-check-your-answers__question">
                      Jurisdiction 2
                    </dt>
                    <dd class="govuk-check-your-answers__answer">
                      Family court
                    </dd>
                    <dd class="govuk-check-your-answers__change">
                      <a href="#">
                        <span class="visually-hidden"></span>
                      </a>
                    </dd>
                  </div>
                  <div class="govuk-check-your-answers__contents">
                    <dt class="govuk-check-your-answers__question">
                      Service
                    </dt>
                    <dd class="govuk-check-your-answers__answer">
                      Divorce
                    </dd>
                    <dd class="govuk-check-your-answers__change">
                      <a href="#">
                        <span class="visually-hidden"></span>
                      </a>
                    </dd>
                  </div>
                  <div class="govuk-check-your-answers__contents">
                    <dt class="govuk-check-your-answers__question">
                      Fee Order Name
                    </dt>
                    <dd class="govuk-check-your-answers__answer">
                      Lorem ipsum
                    </dd>
                    <dd class="govuk-check-your-answers__change">
                      <a href="#">
                        <span class="visually-hidden"></span>
                      </a>
                    </dd>
                  </div>
                  <div class="govuk-check-your-answers__contents">
                    <dt class="govuk-check-your-answers__question">
                      Statutory Instrument
                    </dt>
                    <dd class="govuk-check-your-answers__answer">
                      Lorem ipsum
                    </dd>
                    <dd class="govuk-check-your-answers__change">
                      <a href="#">
                        <span class="visually-hidden"></span>
                      </a>
                    </dd>
                  </div>
                  <div class="govuk-check-your-answers__contents">
                    <dt class="govuk-check-your-answers__question">
                      SI REF ID
                    </dt>
                    <dd class="govuk-check-your-answers__answer">
                      Lorem ipsum
                    </dd>
                    <dd class="govuk-check-your-answers__change">
                      <a href="#">
                        <span class="visually-hidden"></span>
                      </a>
                    </dd>
                  </div>
                </dl>
              </div>
            </details>

            </div>
          </div>












    </div>



{% endblock %}
