{% extends "layouts/admin/casefile.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}


        <div class="jui-casebar">
          <div class="jui-width-container">

                <div class="jui-casebar__details">
                  ID number<span class="jui-casebar__title"> Descriptive</span>
                </div>

                <div class="jui-casebar__options">

                      <nav class="jui-case-actions">
                    <ul class="jui-case-actions__list">

                      <li class="jui-case-actions__item">
                        <a class="jui-case-actions__link" href="">Action 1</a>
                      </li>

                      <li class="jui-case-actions__item">
                        <a class="jui-case-actions__link" href="">Action 2</a>
                      </li>

                    </ul>
                    </nav>

                </div>



          </div>
        </div>

        <div class="jui-width-container">

                  <nav class="jui-secondary-nav" aria-label="">
            <ul class="jui-secondary-nav__list">

                <li class="jui-secondary-nav__item">
                  <a class="jui-secondary-nav__link" aria-current="page" href="">Nav 1</a>
                </li>

                <li class="jui-secondary-nav__item">
                  <a class="jui-secondary-nav__link" href="">Nav 2</a>
                </li>

                <li class="jui-secondary-nav__item">
                  <a class="jui-secondary-nav__link" href="">Nav 3</a>
                </li>

                <li class="jui-secondary-nav__item">
                  <a class="jui-secondary-nav__link" href="">Nav 4</a>
                </li>

            </ul>
          </nav>

        </div>






  <div class="jui-width-container">


                <div class="govuk-grid-row">
              <div class="govuk-grid-column-full">
                <p>govuk-grid-column-one-third - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eleifend venenatis turpis, non eleifend est laoreet in.
                  Integer porta erat metus. Vivamus in ipsum iaculis, pharetra neque at, convallis urna. Nullam blandit laoreet maximus.
                  Sed feugiat ullamcorper tortor. Cras nec luctus magna. Vestibulum id sollicitudin erat. Cras rutrum pharetra nulla, eget sagittis orci condimentum id.</p>
              </div>
            </div>

            <br>

            <div class="govuk-grid-row">
              <div class="govuk-grid-column-one-half">
                <p>govuk-grid-column-one-half - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eleifend venenatis turpis, non eleifend est laoreet in.
                  Integer porta erat metus. Vivamus in ipsum iaculis, pharetra neque at, convallis urna. Nullam blandit laoreet maximus.
                  Sed feugiat ullamcorper tortor. Cras nec luctus magna. Vestibulum id sollicitudin erat. Cras rutrum pharetra nulla, eget sagittis orci condimentum id.</p>
              </div>
              <div class="govuk-grid-column-one-half">
                <p>govuk-grid-column-one-half - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eleifend venenatis turpis, non eleifend est laoreet in.
                  Integer porta erat metus. Vivamus in ipsum iaculis, pharetra neque at, convallis urna. Nullam blandit laoreet maximus.
                  Sed feugiat ullamcorper tortor. Cras nec luctus magna. Vestibulum id sollicitudin erat. Cras rutrum pharetra nulla, eget sagittis orci condimentum id.</p>
              </div>
            </div>

            <br>

            <div class="govuk-grid-row">
              <div class="govuk-grid-column-two-thirds">
                <p>govuk-grid-column-one-third - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eleifend venenatis turpis, non eleifend est laoreet in.
                  Integer porta erat metus. Vivamus in ipsum iaculis, pharetra neque at, convallis urna. Nullam blandit laoreet maximus.
                  Sed feugiat ullamcorper tortor. Cras nec luctus magna. Vestibulum id sollicitudin erat. Cras rutrum pharetra nulla, eget sagittis orci condimentum id.</p>
              </div>
              <div class="govuk-grid-column-one-third">
                <p>govuk-grid-column-one-third - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eleifend venenatis turpis, non eleifend est laoreet in.
                  Integer porta erat metus. Vivamus in ipsum iaculis. </p>
              </div>
            </div>

            <br>

            <div class="govuk-grid-row">
              <div class="govuk-grid-column-one-third">
                <p>govuk-grid-column-one-third - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eleifend venenatis turpis, non eleifend est laoreet in.
                  Integer porta erat metus. Vivamus in ipsum iaculis. </p>
              </div>
              <div class="govuk-grid-column-two-thirds">
                <p>govuk-grid-column-two-thirds - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eleifend venenatis turpis, non eleifend est laoreet in.
                  Integer porta erat metus. Vivamus in ipsum iaculis, pharetra neque at, convallis urna. Nullam blandit laoreet maximus.
                  Sed feugiat ullamcorper tortor. Cras nec luctus magna. Vestibulum id sollicitudin erat. Cras rutrum pharetra nulla, eget sagittis orci condimentum id.</p>
              </div>
            </div>

            <br>

            <div class="govuk-grid-row">
              <div class="govuk-grid-column-one-quarter">
                <p>govuk-grid-column-one-quarter - Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Mauris eleifend venenatis turpis, non eleifend est laoreet in.
                  Integer porta erat metus.</p>
              </div>
              <div class="govuk-grid-column-one-quarter">
                <p>govuk-grid-column-one-quarter - Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Mauris eleifend venenatis turpis, non eleifend est laoreet in.
                  Integer porta erat metus.</p>
              </div>
              <div class="govuk-grid-column-one-quarter">
                <p>govuk-grid-column-one-quarter - Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Mauris eleifend venenatis turpis, non eleifend est laoreet in.
                  Integer porta erat metus.</p>
              </div>
              <div class="govuk-grid-column-one-quarter">
                <p>govuk-grid-column-one-quarter - Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Mauris eleifend venenatis turpis, non eleifend est laoreet in.
                  Integer porta erat metus.</p>
              </div>
            </div>

            <a href="/index" role="button" class="govuk-button">
              Home
            </a>

            <a href="/index-test" role="button" class="govuk-button">
              Out of fee
            </a>







    </div>



{% endblock %}
