{% extends "layout.html" %}

{% block pageTitle %}
  Journey finished
{% endblock %}

{% block main %}

<div class="govuk-width-container">
  <main role="main" class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <a href="/payment-screens-mvp/service-payment-screen-error-mvp" class="govuk-back-link">Back</a>
        <br>
        <br>

          <h1 class="govuk-heading-xl">
            Journey finished
            <span class="govuk-caption-xl"></span>
          </h1>{{releaseVersion | log }}
          <!-- <p>
            Amount to pay: £550
          </p> -->


              <a href="/index" class="govuk-button">
               Return to prototype index
              </a>







      </div>
    </div>
  </main>
</div>

{% endblock %}
