{% extends "layouts/admin/newlayout.html" %}

{% block pageTitle %}
  Draft fees
{% endblock %}

{% block content %}



<div class="hmcts-header__container">

    <main role="main" class="govuk-main-wrapper">

        <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">Awaiting approval</h1>


        <table class="govuk-table">


            <thead class="govuk-table__head font-16">
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="col" style="width: 80px;">Code</th>
                    <th class="govuk-table__header" scope="col" style="width:84px;">Version</th>
                    <th class="govuk-table__header" scope="col" style="width: 180px;">Service</th>
                    <th class="govuk-table__header" scope="col">Description</th>
                    <th class="govuk-table__header" scope="col" style="width: 180px;">Valid from</th>
                   <!--  <th class="govuk-table__header" scope="col" style="width:80px;">SI REF ID</th>-->
                    <th class="govuk-table__header" scope="col" style="width:40px;"></th>
                </tr>
            </thead>


            <tbody>
                {% if  data['approvedfeetesting'] != 'true' %}
                    <tr>
                        <td data-label="Code">FEE0429</td>
                        <td data-label="Service" style="text-align: center;  padding-right: 20px;">2</td>
                        <td data-label="Service">General</td>
                        <td data-label="Jurisdiction 2">General Application - By consent </td>
                        <td data-label="Description">1 September 2021</td>
                        <td data-label=""><a href="fee-details?draft=true&brandnewfee=false&waitingforapproval=true&feecode=FEE0429&rejected=false&viewingrejectionfee=true&">View</a></td>
                    </tr>
                {% endif %}

                {% if  data['rejectedfeescenariocomplete'] != 'true' %}
                    <tr>
                        <td data-label="Code">FEE0862</td>
                        <td data-label="Service" style="text-align: center;  padding-right: 20px;">1</td>
                        <td data-label="Service">Civil Money Claims</td>
                        <td data-label="Jurisdiction 2">Counter Claim - 0.01 up to 300 GBP</td>
                        <td data-label="Description">1 September 2021</td>
                        <td data-label=""><a href="fee-details?draft=true&brandnewfee=false&waitingforapproval=true&feecode=FEE0862&rejected=false&">View</a></td>
                    </tr>
                {% endif %}


                <tr>
                    <td data-label="Code">FEE0545</td>
                    <td data-label="Service" style="text-align: center;  padding-right: 20px;">2</td>
                    <td data-label="Service">other</td>
                    <td data-label="Jurisdiction 2">Appointment of a High Court judge</td>
                    <td data-label="Description">1 September 2021</td>
                    <td data-label=""><a href="#">View</a></td>
                </tr>

                <tr>
                    <td data-label="Code">FEE0324</td>
                    <td data-label="Service" style="text-align: center;  padding-right: 20px;">3</td>
                    <td data-label="Service">private law</td>
                    <td data-label="Jurisdiction 2">Warrant to assist person exercising powers ...</td>
                    <td data-label="Description">30 September 2021</td>
                    <td data-label=""><a href="#">View</a></td>
                </tr>

                <tr>
                    <td data-label="Code">FEE0429</td>
                    <td data-label="Service" style="text-align: center;  padding-right: 20px;">2</td>
                    <td data-label="Service">other</td>
                    <td data-label="Jurisdiction 2">Appraisement of goods. FEE AMOUNT = 5p ...</td>
                    <td data-label="Description">30 September 2021</td>
                    <td data-label=""><a href="#">View</a></td>
                </tr>

                <tr>
                    <td data-label="Code">FEE0522</td>
                    <td data-label="Service" style="text-align: center;  padding-right: 20px;">1</td>
                    <td data-label="Service">civil money claims</td>
                    <td data-label="Jurisdiction 2">Counter Claim Discounted - 300.01 up to 5 ...</td>
                    <td data-label="Description">30 September 2021</td>
                    <td data-label=""><a href="#">View</a></td>
                </tr>
            </tbody>
        </table>


        <br>
        <br>



        <!--  ALREADY APPROVED

        <table class="govuk-table">
            <caption class="govuk-table__caption">Approved by you<br><br>
                <span id="nationality-hint" class="govuk-hint">

                <table class="govuk-table">

                    <thead class="govuk-table__head font-16">
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="col" style="width: 100px;">Code</th>
                        <th class="govuk-table__header" scope="col" style="width:100px;">Version</th>
                        <th class="govuk-table__header" scope="col">Service</th>
                        <th class="govuk-table__header" scope="col" style="width:200px;">Date Approved</th>
                        <th class="govuk-table__header" scope="col">Date valid from</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr>
                        <td data-label="Code"><a href="fee-details?draft=false&brandnewfee=false&waitingforapproval=false&feecode=FEE0052&rejected=true&rejected=false&">FEE0052</a></td>
                        <td data-label="Service">1</td>
                        <td data-label="Service">Immigration and asylum</td>
                        <td data-label="Jurisdiction 2">10-04-2021</td>
                        <td data-label="Description">1-9-2021</td>
                    </tr>
                    </tbody>

                </table>

                </span></caption>
        </table>

        -->


        </main>

    <br>
    <br>
    <br>
    <br>









    </div>



{% endblock %}
