{% extends "layouts/admin/base.html" %}

{% block pageTitle %}
  Reference data
{% endblock %}

{% block content %}



<!--  TOP LINKS LIKE ALL FEES ETC -->
{% include "includes/topnav.html" %}



    <div class="hmcts-header__container">
          <main role="main" class="govuk-main-wrapper">


              <h1 class="govuk-heading-xl">Reference data</h1>

              <a href="" role="button" class="govuk-button">
                Edit reference data
              </a>

              <div class="govuk-grid-row">
                  <div class="govuk-grid-column-one-half">



                        <details class="govuk-details">
                      <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text">
                          Applicants
                        </span>
                      </summary>
                      <div class="govuk-details__text">
                          <li>personal</li>
                          <li>all</li>
                          <li>professional</li>
                      </div>
                    </details>
                    <details class="govuk-details">
                          <summary class="govuk-details__summary">
                            <span class="govuk-details__summary-text">
                              Jurisdictions 1
                            </span>
                          </summary>
                          <div class="govuk-details__text">
                              <li>civil</li>
                              <li>family</li>
                              <li>tribunal</li>
                          </div>
                    </details>
                    <details class="govuk-details">
                          <summary class="govuk-details__summary">
                            <span class="govuk-details__summary-text">
                              Jurisdictions 2
                            </span>
                          </summary>
                          <div class="govuk-details__text">
                          <li>county court</li>
                          <li>high court</li>
                          <li>magistrates court</li>
                          <li>court of protection</li>
                          <li>family court</li>
                          <li>probate registry</li>
                          <li>gambling tribunal</li>
                          <li>gender recognition panel</li>
                          <li>immigration and asylum chamber</li>
                          <li>property chamber</li>
                          <li>tax chamber</li>
                          <li>upper tribunal immigration and asylum chamber</li>
                          <li>upper tribunal lands chamber</li>
                          </div>
                    </details>
                    <details class="govuk-details">
                          <summary class="govuk-details__summary">
                            <span class="govuk-details__summary-text">
                              Services
                            </span>
                          </summary>
                          <div class="govuk-details__text">
                            <li>civil money claims</li>
                            <li>possession claim</li>
                            <li>insolvency</li>
                            <li>private law</li>
                            <li>public law</li>
                            <li>divorce</li>
                            <li>adoption</li>
                            <li>gambling</li>
                            <li>gender recognition</li>
                            <li>immigration and asylum</li>
                            <li>property</li>
                            <li>tax</li>
                            <li>probate</li>
                            <li>general</li>
                            <li>magistrates</li>
                        </div>
                    </details>
                    <details class="govuk-details">
                          <summary class="govuk-details__summary">
                            <span class="govuk-details__summary-text">
                              Channels
                            </span>
                          </summary>
                          <div class="govuk-details__text">
                            <li>online</li>
                            <li>bulk</li>
                            <li>default</li>
                        </div>
                    </details>
                    <details class="govuk-details">
                          <summary class="govuk-details__summary">
                            <span class="govuk-details__summary-text">
                              Events
                            </span>
                          </summary>
                          <div class="govuk-details__text">
                          <li>enforcement</li>
                          <li>appeal</li>
                          <li>search</li>
                          <li>issue</li>
                          <li>general application</li>
                          <li>copies</li>
                          <li>hearing</li>
                          <li>miscellaneous</li>
                          <li>cost assessment</li>
                          </div>
                    </details>
                    <details class="govuk-details">
                          <summary class="govuk-details__summary">
                            <span class="govuk-details__summary-text">
                              Directions
                            </span>
                          </summary>
                          <div class="govuk-details__text">
                          <li>cost recovery</li>
                          <li>enhanced</li>
                          <li>licence</li>
                          <li>partial cost recovery</li>
                          <li>pre cost recovery</li>
                          <li>reduced churn</li>
                          <li>simplified</li>
                          </div>
                    </details>



                    </div>

                    <div class="govuk-grid-column-one-half">



                    </div>


                </div>

            </main>
        </div>



{% endblock %}
