{% extends "layouts/admin/newlayout.html" %}

{% block pageTitle %}
  Fee creaated
{% endblock %}

{% block content %}





          <div class="hmcts-header__container govuk-!-padding-left-0">

                    <main role="main" class="govuk-main-wrapper govuk-grid-column-two-thirds govuk-!-padding-left-0">

                          <h2 class="govuk-heading-l govuk-!-margin-top-3">Why are you rejecting this draft fee?</h2>

                            <div class="govuk-form-group">
                                <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="4" aria-describedby="more-detail-hint"></textarea>
                            </div>



                          <a  href="/approval-rejected-confirmation" role="button" class="govuk-button">
                            Submit
                          </a>

                    </main>

            </div>



{% endblock %}
