{% extends "layouts/admin/base.html" %}

{% block pageTitle %}
  Fee creaated
{% endblock %}

{% block content %}



<!--  TOP LINKS LIKE ALL FEES ETC -->
{% include "includes/topnav.html" %}



          <div class="hmcts-header__container ">

                    <main role="main" class="govuk-main-wrapper govuk-grid-column-two-thirds">

                          <h2 class="govuk-heading-l">Why do you reject the draft</h2>

                            <div class="govuk-form-group">
                                <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="4" aria-describedby="more-detail-hint"></textarea>
                            </div>



                          <a  href="/approval-rejected-confirmation" role="button" class="govuk-button">
                            Submit
                          </a>

                    </main>

            </div>



{% endblock %}
