{% extends "layouts/admin/base-signin.html" %}

{% block page_title %}Sign in{% endblock %}

{% block content %}

<div class="hmcts-header__container">

  <main role="main" class="govuk-main-wrapper">

    <h1 class="govuk-heading-l">Sign in</h1>

    <form method="post">

      {{ govukInput({
        label: {
          html: "Email address",
          classes: "govuk-!-width-one-third"
        },
        id: "email-address",
        name: "email-address",
        classes: 'govuk-!-width-one-third'
      }) }}

      {{ govukInput({
        label: {
          html: "Password",
          classes: "govuk-!-width-one-third"
        },
        id: "password",
        name: "password",
        type: "password",
        classes: "govuk-!-width-one-third"
      }) }}

      <a href="/all-fees" role="button" class="govuk-button">
        Sign in
      </a>

    </form>

    <p class="govuk-body"><a href="">Forgotten your password?</a></p>

  </main>

</div>

{% endblock %}
